<div style="width: 500px; margin: 100px auto">
    <form action="" method="get">
        <label for="login">
            Login
            <input type="text" class="form-control" name="login" id="login">
        </label>
        <label for="password">
            Password
            <input type="password" class="form-control" name="password"id="password">
        </label>
        <input type="submit" value="Enter" class="form-control btn btn-info" style="width: 410px;">
    </form>
</div>
