<table class="table" style="width: auto;">
    <tbody>
    <tr>
        <td>Раздел каталога</td>
    </tr>
    <tr>
        <td>
            <select id="category" class="form-control">
                {% for category in categories %}
                    <option value="{{ category._id }}">{{ category.categoryName }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    </tbody>
</table>

<table class="table table-striped table-bordered table-condensed" id="sampleGoodAdd" style="width: auto;">
    <thead>
    <tr>
        <th style="width: 50%">Имя поля</th>
        <th>Участвует ли<br> в фильтре</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody id="fieldsTbody">
        <tr class="fieldItem">
            <td>
                <input type="text" value="Название" name="fieldName" disabled="disabled" class="form-control">
            </td>
            <td>
                <select name="inFilter" disabled="disabled" class="form-control">
                    <option value="0" selected="selected">Нет</option>
                    <option value="1">Да</option>
                </select>
            </td>
            <td>

            </td>
        </tr>
        <tr class="fieldItem">
            <td>
                <input type="text" value="Цена" name="fieldName" disabled="disabled" class="form-control">
            </td>
            <td>
                <select name="inFilter" disabled="disabled" class="form-control">
                    <option value="0">Нет</option>
                    <option value="1" selected="selected">Да</option>
                </select>
            </td>
            <td>

            </td>
        </tr>
        <tr class="fieldItem">
            <td>
                <input type="text" value="Описание" name="fieldName" disabled="disabled" class="form-control">
            </td>
            <td>
                <select name="inFilter" disabled="disabled" class="form-control">
                    <option value="0" selected="selected">Нет</option>
                    <option value="1">Да</option>
                </select>
            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>

<button id="addField" class="btn btn-info">Добавить поле</button>
<button id="saveProductSample" class="btn btn-info">Сохранить</button>