<tr class="fieldItem">
    <td>
        <input type="text" value="" placeholder="Имя поля" name="fieldName" class="form-control">
    </td>
    <td>
        <select name="inFilter" class="form-control">
            <option value="0" selected="selected">Нет</option>
            <option value="1">Да</option>
        </select>
    </td>
    <td style="padding: 20px 0 0 20px; color:#46A1B8;">
        <i class="fas fa-trash-alt"></i>
    </td>
</tr>