<div class="list-catalog-header flex-col">
    <div>Артикул и наименование товара</div>
    <div>Аналоги товара</div>
    <div>Цена, руб</div>
    <div>Артикул</div>
    <div>Наличие</div>
    <div>Кол-во</div>
    <div></div>
</div>
{% for product in products %}
    <div class="list-catalog-body flex-col" data-id="{{ product.goodId }}">
        <div>
            <div class="acticul-name__item">
                <span class="articule"></span>
                <a href="/product/{{ product.goodId }}">{{product.name}}</a>
            </div>
        </div>
        <div>
            <div class="analogs-product">
                {% if product.analog %}
                <div id="ex{{ loop.index0 }}" class="modal">
                    {{ product.analog|raw }}
                </div>
                <a href="#ex{{ loop.index0 }}" rel="modal:open">Аналоги</a>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="list-catalog__price">{{product.price|default('')}} </div>
        </div>
        <div>
            <div class="type-sell__item">{{ product.articul }}</div>
        </div>
        <div>
            <div class="catalog-list__instok many"></div>
        </div>
        <div>
            <div class="quantity-block flex-col">
                <button class="quantity-arrow-minus"> - </button>
                <input class="quantity-num" type="number" value="1" />
                <button class="quantity-arrow-plus"> + </button>
            </div>
        </div>
        <div><a href="{{ product.goodId }}" class="buy-btn-catalog"></a></div>
    </div>
{% endfor %}
