<style>
    .tabs__content {
        display: none;
    }
    .tabs__content.active {
        display: block;
    }
</style>
<h4>Результаты поиска по фразе: <span style="color: blue;">{{ search_string }}</span></h4>
<div class="tabs">

    <ul class="tabs__caption">
        <li class="active">Имя</li>
        <li>Артикул</li>
        <li>Аналоги</li>
{#
        <li>Часть имени</li>
#}
    </ul>

    <div class="tabs__content active">
        {{table_name|raw}}
    </div>

    <div class="tabs__content">
        {{table_articul|raw}}
    </div>

    <div class="tabs__content">
        {{table_analog|raw}}
    </div>

{#
    <div class="tabs__content">
        {{table_part_name|raw}}
    </div>
#}

</div><!-- .tabs-->
