@media (min-width: 992px) and (max-width:1200px) {

    .about-index .container:before {
        display: none;
    }
    .slick-prev {
        left: 20px;
    }
    .slick-next {
        right: 20px;
    }
    .why-we .why-we__item {
        margin-left: 10px;
    }
    .products-grid a:first-child div {
        width: 75%;
    }
    .bsi .bsi_item {
        margin: 0px 5px;
    }
    .about-index__cj .about-index__items .about-index__text {
        font-size: 16px;
    }
    .about-index__items {
        margin:0px 5px;
    }
    .banner-help .banner-help__black {
        padding: 50px 30px;
    }
    .banner-help .banner-help__black .banner-help__phone {
        font-size: 32px;
    }
    .map__content {
        right: 5%;
    }
    .about-index .container {
        padding: 75px 15px;
    }
    .header .header__phone a, .header .header__mail a {
        font-size: 18px;
    }
}

@media (min-width: 0px) and (max-width:992px) {
    .top-menu {
        position: absolute;
        left: -100%;
        width: 90%;
        background: #fff;
        text-align: center;
        transition: all 0.2s;
        margin-left: 0px;
        top:60px;
        z-index: 5;
        text-align: left;
        padding: 15px 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    }
   
 .top-menu li {
        display: block;
        margin-bottom: 0px;
        margin-top: 0px;
        width: 100%;
    }
    .top-menuli a,  .stiky nav li a {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .top-menu li a {
        margin: 0 40px;
    }
    header.stiky {
        z-index: 7;
    }
    .stiky nav {
        height: 100vh;
        overflow: scroll;
    }
    .top-menu.active {
        left: 0px;
    }
    .nomber_header {
        margin-right: 70px;
        margin-top: 50px;
    }
    .logo {
        font-size: 43px;
    }
    .logo span {
        font-size: 11px;
    }
    .top-menu {
        margin-left: 0px;
        padding-left: 0px;
    }


.cmn-toggle-switch {
    display: block;
    position: relative;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
            transition: background 0.3s;
      position: absolute;
      right: 0px;
      top: -7px;
      background: none;
  }
  
  .cmn-toggle-switch:focus {
    outline: none;
  }
  
  .cmn-toggle-switch span {
    display: block;
    position: absolute;
    top: 20px;
    left: 8px;
    right: 8px;
    height: 4px;
    background: #fff;
      border-radius: 4px;
  }
  
  .cmn-toggle-switch span::before,
  .cmn-toggle-switch span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
       border-radius: 4px;
  }
  
  .cmn-toggle-switch span::before {
    top: -8px;
  }
  
  .cmn-toggle-switch span::after {
    bottom: -8px;
  }
  .items:after {
      content: 'Меню';
      position: absolute;
      width: 100%;
      bottom: 0px;
      font-size: 9px;
      font-weight: bold;
      color:#fff;
      text-align: center;
      text-transform: uppercase;

  }
  
  
  .cmn-toggle-switch__htx span {
    -webkit-transition: background 0 0.3s;
            transition: background 0 0.3s;
  }
  
  .cmn-toggle-switch__htx span::before,
  .cmn-toggle-switch__htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0;
            transition-delay: 0.3s, 0;
  }
  
  .cmn-toggle-switch__htx span::before {
    -webkit-transition-property: top, -webkit-transform;
            transition-property: top, -webkit-transform;
            transition-property: top, transform;
            transition-property: top, transform, -webkit-transform;
  }
  
  .cmn-toggle-switch__htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
            transition-property: bottom, -webkit-transform;
            transition-property: bottom, transform;
            transition-property: bottom, transform, -webkit-transform;
  }
  
  
  
  .cmn-toggle-switch__htx.active span {
    background: none;
  }
  
  .cmn-toggle-switch__htx.active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .cmn-toggle-switch__htx.active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .cmn-toggle-switch__htx.active span::before,
  .cmn-toggle-switch__htx.active span::after {
    -webkit-transition-delay: 0, 0.3s;
            transition-delay: 0, 0.3s;
  }
.top-menu {
      flex-wrap: wrap;
      display: block;
  }
  nav a.active, nav a:hover, nav a:focus {
      background: none;
      color: #212121;
  }
.items {
    top: 8px;
    position: absolute;
    left: 20px;
    margin-top: 0px;
    display: block;
    width: 40px;
    height: 40px;
}
nav a {
    color: #212121;
}

   
}
@media (min-width: 0px) and (max-width:992px) { 
    .why-we, .our-brands-index, .banner-help, .about-index__cj, .header-top {
        display: none;
    }
    .container.with-sidebar {
        flex-wrap: wrap;
    }
    .with-sidebar .sidebar-content {
        width: 100%;
    }
    .products-grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin-top: 16px;
    }
    .products-grid a:first-child {
        grid-row-start: auto;
        grid-row-end: auto;
    }
    .products-grid a span, .products-grid a:first-child div {
        width: 100%;
    }
    .products-grid a {
        flex-wrap: wrap;
    }
    .header-top__left-text, .header__phone, .header__mail {
        display: none;
    }
    nav {
        position: absolute;
        width: 100%;
        height: 60px;
        top: 0px;
        padding-top: 8px;
        background: url(../img/blue-texture.jpg);
        z-index: 11;
    }
    nav .search {
        width: calc(100% - 120px);
        margin-left: 55px;
    }
    input[type="search"] {
        -webkit-appearance: textfield;
        border-radius: 4px 4px 4px 4px;
    }
    
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
        border-radius: 4px 4px 4px 4px;
    }
    .search input {
        border-radius: 4px 4px 4px 4px;
    }
    .search input[type='submit'] {
        border-radius: 0px 4px 4px 0px;
    }
    .card .card__icon {
        border-radius: 4px;
        position: relative;
    }
    .card__icon span {
        position: absolute;
        width: 16px;
        height: 16px;
        background: rgba(255, 255, 255, .8);
        color: #c94146;
        top:-4px;
        right: -2px;
        border-radius: 4px;
        display: block;
        font-weight: 500;
        text-align: center;
        font-size: 13px;
        line-height: 20px;
    }
    .card .card__text {
        display: none;
        
    }
    .card {
        width: 40px;
        height: 40px;
        border-radius: 6px;
        position: absolute;
        top: 8px;
        right: 25px;
        z-index: 12;
    }
    .card a {
        pointer-events: none;
    }
    .header {
        padding-top: 80px;
        background: #f8f8f8;
        border-bottom: 1px solid #e9e9e9;
    }
    .header__logo {
        position: relative;
        width: 100%;
    }
    .header__logo img {
        width: 48%;
    }
    .mobile-catalog-menu {
        display: block;
        width: 100%;
        margin-top: 25px;
        position: relative;
    }
    .mobile-catalog-menu > ul {
        display: none;
        background: #fff;
        padding-top: 10px;
        top: 38px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
        border-radius: 0px 0px 10px 10px;
    }
    .mobile-catalog-menu > ul > li {
        display: block;
        
    }
    .mobile-catalog-menu > ul > li > a {
        color:#212121;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none;
        padding: 16.5px 28px;
        padding-top: 18px;
        font-size: 13px;
        display: block;
        border-bottom: 1px solid #e9e9e9;
        background: url(../img/arr-right-2.png) no-repeat 94% 50%;
        line-height: 100%;
        pointer-events: none;
    }
    .mobile-catalog-toggle.active:after {
        border-radius: 0px 10px 0px 0px;
    }
    .mobile-catalog-menu > ul > li.active > a {
        color:#1e4b8e;
        background: url(../img/icon-select.png) no-repeat 94% 50%;
        position: relative;
    }
    .mobile-catalog-menu > ul > li.active > a:before {
        background: url(../img/active-mob.png) no-repeat left;
        content: '';
        display: block;
        width: 20px;
        height: 100%;
        position: absolute;
        left: 0px;
        z-index: 2;
        top: 0px;
    }
    .mobile-catalog-toggle.active {
        border-radius: 10px 10px 0px 0px;
    }
    ul.dropdown__sidebar.lvl_1 {
        display: none;
    }
    .mobile-catalog-menu > ul > li.active ul.dropdown__sidebar.lvl_1 {
        display: block;
        border-bottom: 1px solid #e9e9e9;
        background: #fbfbfb;
        padding: 10px 0px;
        transition: all .2s;
    }
    .mobile-catalog-menu > ul > li.active ul.dropdown__sidebar.lvl_1 > li {
        display: block;
    }
    .mobile-catalog-menu > ul > li.active ul.dropdown__sidebar.lvl_1 > li > a {
        padding: 8px 40px;
        color:#212121;
        font-size: 13px;
        text-decoration: none;
        display: block;
    }
    .mobile-catalog-menu ul.active {
        display: block;
        position: absolute;
        z-index: 4;
        width: 100%;
    }
    .mobile-catalog-toggle {
        width: 100%;
        height: 50px;
        background: #1e4b8e;
        color:#fff;
        font-size:11px;
        font-weight: 500;
        text-transform: uppercase;
        padding-left: 20px;
        line-height: 50px;
        position: relative;
        border-radius: 10px;
        z-index: 5;
        position:relative;
    }
     .mobile-catalog-toggle:after{
         content: '';
         display: block;
         height: 100%;
         background: url(../img/catalog-dropdwn.png) no-repeat center;
         width: 50px;
         border-radius: 0px 10px 10px 0px;
         position: absolute;
         right: 0px;
         top: 0px;
         transition: all .2s;
    }
    .mobile-catalog-toggle:before{
        content: '';
        display: block;
        height: 100%;
        background:#4b6fa5;
        width: 50px;
        border-radius: 0px 10px 10px 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        transition: all .2s;
   }
   .mobile-catalog-toggle.active:before {
    border-radius: 0px 10px 0px 0px;
   }
    .politic, .about-index .container:before, .footer-call-back {
        display: none;
    }
    footer .footer .container {
        flex-wrap: wrap;
    }
    .about-index .container {
        padding: 45px 15px;
    }
    .logo-footer {
        position: relative;
        width: 100%;
        padding: 26px 15px;
        border-bottom: 1px solid #355d9a;
    }
    .logo-footer  img {
        width: 48%;
    }
    .logo-footer:after {
        content: 'Официальный диллер компании «Дакар»';
        font-size: 11px;
        color: #fff;
        width: 130px;
        position: absolute;
        bottom: 27px;
        left: 55%;
        line-height: 130%;
    }
    footer .container {
        padding: 0px;
    }
    footer .footer {
        padding: 10px 0px;
    }
    .footer-col {
        width: 100%;
        padding: 0px 15px;
    }
    .inn-ogrn {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5px;
        flex-wrap: wrap;
    }
    .inn-ogrn span {
        color:#c94146
    }
    .inn-ogrn p {
        margin: 3px 0px;
    }
    .inn-ogrn p:first-child {
        margin-right: 15px;
    }
    .ip {
        margin-top: 4px;
    }
    footer {
        background: #1e4b8e;
    }
    footer .footer .container .fz10 {
        margin-top: 25px;
    }
    .footer-copy {
        
        background: #2c4d7d;
    }
    footer .footer-copy .container p {
        font-size: 11px;
        text-align: center;
    }
    footer .footer-copy .container {
        justify-content: center;
    }
    .map__content {
        display: none;
    }
    .map #map {
        height: 230px;
    }
    .map {
        height: 230px;
    }
    .contact__content {
        display: block;
        padding: 25px 15px;
        border-bottom: 1px solid #355d9a;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .contact__content .title {
        width: 100%;
        margin-bottom: 5px;
    }
    .contact__content .title,  .contact__content .title span {
        font-size: 16px;
        color:#fff;
        display: inline-block;
    }
    .contact__content-col {
        padding: 5px 0px;
        margin-right: 15px;
        font-size: 13px;
        font-weight: 500;
    }
    .contact__content-col a {
        color:#fff;
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
    }
    .contact__content-col .icon-phone {
        background: url(../img/icon-phone.png) no-repeat;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }
    .contact__content-col .icon-mail {
        background: url(../img/icon-plane.png) no-repeat;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }
    .contact__content-col .icon-flag {
        background: url(../img/icon-flag.png) no-repeat;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }
    .contact__content-col {
        display: flex;
        align-items: flex-start;
        line-height: 140%;
    }
    .index-slider__item .index-slider__content .index-slider__d{
        font-size: 11px;
    }
    .index-slider__item .index-slider__content .index-slider__title {
        font-size: 24px;
        margin-top: 12px;
        margin-bottom: 15px;
    }
    .index-slider__item .index-slider__content {
        background: none;
        padding: 0px;
        box-shadow: none;
        margin-left: 0px;
        max-width: 76%;
    }
    .index-slider__item {
        padding: 50px 0px;
    }
    .index-slider__item .index-slider__content a {
        padding: 12px 30px;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0px;
    }
    .slick-dots {
        bottom: 10px;
        text-align: left;
        padding-left: 15px;
    }
    .slick-dots li button {
        background: #fff;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border:1px solid #f0f0f0;
    }
    .slick-dots li.slick-active button:before {
        line-height: 14px;
        color: red;
        width: 12px;
        height: 12px;
    }
    .slick-dots li {
        width: 12px;
    }
    .products-block .container {
        padding: 30px 15px;
    }
    .title {
        font-size: 16px;
    }
    .title span {
        display: inline-block;
    }
    .title-flex-block .read-more {
        font-size: 11px;
    }
    .products-grid a div, .products-grid a:first-child div {
        font-size: 12px;
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }
    .products-grid a span {
        height: 90px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .bsi {
        padding: 30px 0px;
    }
    .bsi__content {
        display: block;
        margin-left: -5px;
        margin-right: -5px;
    }
    .bsi_item {
        margin: 0px 5px;
    }
    .bsi_item .bsi__title {
        font-size: 13px;
    }
    .bsi__content .slick-slider {
        padding: 25px 0px;
    }
    .bsi__param {
        display: none;
    }
    .bsi__hover {
        display: none;
    }
    .bsi_item .bsi__price {
        font-size: 16px;
        padding-top: 0px;
        padding-bottom: 15px;
    }
    .bsi_item .bsi__price span {
        font-size: 12px;
    }
    .slick-dots li button::before {
        color:#fff
    }
    .slider.bsi-slider .slick-dots {
        text-align: center;
        bottom: -15px;
    }
    .bsi_item .bsi__title {
        margin-bottom: 20px;
    }
    .bsi_item .bsi__img {
        max-width: 70%;
    }
    .bsi_item .bsi__img {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .bsi_item .bsi-favorite {
        background: url(../img/white-star.png) no-repeat center #c94146;
        background-size: 12px;
        width: 30px;
        height: 20px;
    }
    .mobile-bsi {
        display: block;
        height: 60px;
        background: #1e4b8e;
        padding: 10px;
    }
    .mobile-bsi .bsi__buy-button {
        font-size: 10px;
        font-weight: 500;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        display: table;
        border: 2px solid #fff;
        border-radius: 4px;
        padding: 14px 0px;
        width: calc(100% - 50px);
        text-decoration: none;
        height: 39px;
        vertical-align: top;
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        margin-right: 5px;
        background: #43689e;
        }
        .bsi__add-card {
            width: 40px;
            background: url(../img/icon-basket.png) no-repeat center #c94146;
            background-size: 18px;
            height: 40px;
            border-radius: 4px;
            display: inline-block;
        }
        .text-content h2 {
            font-size: 13px;
            line-height: 150%;
        }
        .text-content p {
            font-size: 13px;
            margin: 10px 0px;
            line-height: 150%;
        }
        .with-sidebar .sidebar {
            width: 100%;
            margin: 0 auto;
            max-width: 400px;
            margin-top: 25px;
        }
        .your-benefit .yb__head h2, .your-benefit .yb-content h2 {
            font-size: 22px;
        }
        .your-benefit .yb-content input {
            width: 48%;
        }
        .your-benefit .yb-content button {
            width: 150px;
            height: 40px;
            font-size: 11px;
        }
        .mobile-head-contact {
            display: block;
            float: right;
            width: 45%;
            margin-top: 15px;
        }
        .mobile-head-contact .mobile-head-contact__phone {
            color:#252525;
            font-size: 13px;
            font-weight: 500;
            background: url(../img/icon-phone.png) no-repeat left top;
            padding-left: 20px;
            display: block;
            text-decoration: none;
            margin-bottom: 6px;
            line-height: 100%;
        }
        .mobile-head-contact .mobile-head-contact__mail {
            color:#252525;
            font-size: 13px;
            font-weight: 500;
            background: url(../img/icon-plane.png) no-repeat left top;
            padding-left: 20px;
            display: block;
            text-decoration: none;
            line-height: 100%;
        }
        .no-mobile {
            display: none !important;
        }
         .mobile-catalog-toggle.active:after {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
         }
         .sidebar-with.flex-col, .catalog-list-catalog.flex-col {
             flex-wrap: wrap;
         }
         .sidebar-catalog, .sidebar-banner, .catalog-banner {
             display: none;
         }
         .sidebar-with .content {
             width: 100%;
         }
         .catalog-list-catalog > * {
             width: 48%;
         }
         .catalog-list-catalog a div, .catalog-list-catalog a:first-child div {
            font-size: 12px;
            text-align: center;
            width: 100%;
            margin-top: 15px;
        }
        .sidebar-with .sidebar {
            width: 100%;
        }
        .sidebar-with .sidebar {
            background: #fff;
            padding: 0px;
            margin-bottom: 10px;
        }
        .breadcrumbs {
            border-bottom: 1px solid #e9e9e9;
            margin-left: -15px;
            margin-right: -15px;
            padding: 0px 15px;
            padding-bottom: 20px;
        }
        .breadcrumbs a {
            line-height: 150%;
        }
        .catalog-list-catalog {
            margin-top: 15px;
        }
        .catalog-list-catalog > *:nth-child(2n) {
            margin-right: 0px;
        }
        .catalog-text {
            margin-top: 25px;
        }
        .catalog-text h2 {
            margin: 10px 0px;
            font-size: 16px;
        }
        .catalog-text p {
            margin-top: 0px;
            margin-bottom: 15px;
            text-align: justify;
        }
        .catalog-list-catalog span {
            height: 125px;
        }
        .sidebar-with .sidebar:before {
            display: none;
        }
        .card-mobile {
            background: url(../img/blue-texture.jpg);
            padding-bottom: 20px;
            position: absolute;
            width: 100%;
            left: 0px;
            right: 0px;
            top: 60px;
            z-index: 99;
            border-top: 1px solid #f8f8f8; 
            padding: 25px;
            color:#fff;
            overflow: hidden;
            top: -100%;
            opacity: 0;
            transition: all .3s;
            z-index: 10;
            display: block;
        }
        .card-mobile__title {
            font-weight: 700;
            padding: 15px 0px;
            font-size: 18px;
        }
        .card-mobile__row {
            padding: 20px 0px;
            border-bottom: 1px solid #355d9a;
            border-top: 1px solid #355d9a;
            margin-bottom: 30px;
        }
        .card-mobile__img {
            width: 70px;
            height: 70px;
            background: #fff;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card-mobile__img img {
            width: 80%;
        }
        .card-mobile__select-nom select {
            width: 70px;
            background: url(../img/icon-select.png) no-repeat 78% 50% #fff;
            min-width: auto;
        }
        .card-mobile__text {
            width: calc(100% - 170px);
            margin-left: 0px;
        }
        .card-mobile__list {
            margin-bottom: 10px;
        }
        .card-mobile__list:last-child {
            margin-bottom: 0px;
        }
        .card-mobile-list__title {
            font-size: 13px;
            margin-bottom: 10px;
            line-height: 140%;
        }
        .card-mobile__list.flex-col {
            align-items: center;
        }
        .card-mobile-list__price {
            font-weight: 700;
            font-size: 16px;
        }
        .card-mobile-list__price span {
            font-size: 13px;
            text-transform: uppercase;
        }
        .card-mobile__summ_text.flex-col {
            flex-wrap: wrap;
            padding-bottom: 20px;
        }
        .card-mobile-summ-items {
            width: 100%;
            font-size: 13px;
            margin-bottom: 10px;
        }
        .card-mobile__on-summ {
            font-size: 13px;
        }
        .card-mobile__btns {
            padding: 20px 0px;
            border-top: 1px solid #355d9a;
        }
        .card-mobile__btns a.btn-print {
            color: #212121;
            width: 48%;
            height: 40px;
            text-align: center;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 13px;
            background: #fff;
            text-decoration: none;
            line-height: 42px;
            display: block;
            border-radius: 4px;
        }
        .card-mobile__btns a.btn-order {
            color: #fff;
            width: 48%;
            height: 40px;
            text-align: center;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 13px;
            background: #c94146;
            text-decoration: none;
            line-height: 42px;
            display: block;
            border-radius: 4px;
        }
        .card-mobile__closer {
            background: url(../img/card-mobile-closed.png) no-repeat center;
            height: 25px;
            width: 100%;
        }
        .card-mobile.active {
            top: 60px;
            opacity: 1;
            overflow: visible;
        }
        .param-filter-row:after {
            content: '';
            display: block;
            clear: both;
        }
        .param-filter__body label.checkbox-label {
            float: left;
            width: 48%;
        }
        .mobile-param-filter  {
            display: block;
            background: #1e4b8e;
            height: 50px;
            color:#fff;
            border-radius: 10px;
            padding-left: 20px;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 52px;
            z-index: 3;
            margin-bottom:20px;
            position: relative;
        }
        .mobile-param-filter:after {
            background: url(../img/filter-icon-mobile.png) no-repeat center #4b6fa5;;
            content: '';
            display: block;
            height: 100%;
            width: 50px;
            border-radius: 0px 10px 10px 0px;
            position: absolute;
            right: 0px;
            top: 0px;
            transition: all .2s;
            z-index: 3;
        }
        .mobile-param-filter a {
            color:#fff;
            font-weight: 400;
            text-transform: none;
            border-bottom: 1px dashed #fff;
            text-decoration: none;
            position: absolute;
            right: 63px;
            height: 33px;
        }
        .param-filter__title {
            display: none;
        }
        .sidebar-param-filter {
            margin-top: -5px;
            border-radius: 0px 0px 10px 10px;
            position: absolute;
            z-index: 2;
            display: none;
            margin-top: -25px;
        }
        .sidebar-param-filter.active {
            display: block;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
        }
        .catalog-filter__view select, .list-catalog-header.flex-col {
            display: none;
        }
        .list-catalog-body {
            padding: 20px 14px;
            padding-bottom: 10px;
        }
        .list-catalog-body.flex-col {
            flex-wrap: wrap;
            position: relative;
        }
       .list-catalog-body > div:nth-child(1), .list-catalog-body > div:nth-child(2) {
           width: 61%;
       }
       .list-catalog-body > div:nth-child(4)  {
           top: 10px;
           position: absolute;
           left: 15px;
           width: 20px;
       }
       .list-catalog-body > div:nth-child(5) {
           display: none;
       }
       .list-catalog-body > div:nth-child(3) {
           position: absolute;
           top: 30px;
           right: 15px;
           width: auto;
       }
       .list-catalog-body > div:nth-child(6) {
           width: auto;
       }
       .list-catalog-body .btn.btn__blue {
           font-size: 0px;
           width: 70px;
           height: 40px;
           background: url(../img/icon-basket.png) no-repeat center #1e4b8e;
       }
       .list-catalog-body .acticul-name__item span {
        position: absolute;
        right: 15px;
        top: 10px;
       }
       .list-catalog-body .catalog-list__instok {
        width: 25px;
        height: 12px;
        box-shadow: none;
       }
       .list-catalog-body > div:nth-child(1) {
           margin-top: 10px;
       }
       .footer-catalog-list .catalog-list__summ {
           display: none;
       }
       .pagination a {
           width: 40px;
           height: 40px;
           line-height: 40px;
       }
       .catalog-block-view__content > * {
           width: 48%;
           margin-left:0px;
           margin-right: 0px;
           margin-top: 15px;

       }
       .catalog-block-view__content > *:nth-child(3n) {
           margin-right: 0%;
           
       }
       .catalog-block-view__content > *:nth-child(2n) {
           margin-right: 0px;
       }
       .catalog-block-view__content {
           justify-content: space-between;
       }
       .catalog-block-view__content .bsi_item:nth-child(4n) {
           margin-left:0px;
           margin-right: 0px;
           
       }
       .contant h1 {
           font-size: 18px;
       }
       .contant iframe {
        max-width: 390px;
        width: 100%;
    }
    .right-sidebar {
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 0px;
    }
    .text-content p {
        text-align: justify;
    }
    .right-sidebar:after {
        display: none;
    }
    .page-404 {
        background: none;
        padding: 50px 0px;
    }
    .page-404 .nomber-404 {
        font-size: 140px;
    }
    .page-404 .title-404 {
        font-size: 32px;
        margin-top: 20px;
    }
    
     .col-contact .btn.btn__red {
         display: none;
     }
     .col-contact {
         width: 100%;
     }
     .contacts h1, .content h1 {
         font-size: 18px;
     }
     .contact-h2 {
         font-size: 16px;
         margin-top: 20px;
     }
     .contact-h2 span {
         margin-right: 10px;
     }
     .contact-h2 span img {
         width: 14px;
     }
     .col-contact p {
         line-height: 140%;
         margin: 10px 0px;
         margin-left: 24px;
        }
        .href-messegers a  {
            width: 30%;
            margin-right: 5px !important;
        }
        .href-messegers a img {
            width: 100%;
        }
        a.requiz {
            display: none;
        }
        .order-container.flex-col {
            flex-wrap: wrap;
        }
        .order-container .content {
            width: 100%;
        }
        .order-container .order-sidebar {
            width: 100%;
        }
        .order-container .content .main-form-order h2 {
            font-size: 18px;
            line-height: 130%;
        }
        .order-container .content .main-form-order form > div {
            width: 100%;
        }
        .order-container .content .main-form-order form > div:nth-last-child(2), .order-container .content .main-form-order form > div:nth-last-child(1) {
            width: 48%;
        }
        .order-container .order-nav-btns .btn.btn__trainsperd {
            width: 80px;
        }
        .order-select-step h2 {
            font-size: 18px;
        }
        .label-select-container > div span {
            padding-top: 0px;
        }
        .label-select-container > div span img {
            top: 0px;
        }
        .flex-col.flex-start {
            flex-wrap: wrap;
        }
        .label-select-container > div {
            min-height: 70px;
            margin-bottom: 10px;
            max-width: 350px;
            margin-right: 0px;
        }
        .banner-help-form .banner-help-form__block {
            display: none;
        }
       
        .product-main.flex-col {
            flex-wrap: wrap;
            position: relative;
            padding-top: 40px;
        }
      
       
      
        .sidebar-with .content {
            margin-bottom: 20px;
        }
        .tabs__content p {
            text-align: justify;
        }
      
       
        .container h1 {
            font-size: 18px;
            line-height: 140%;
        }
       
        .products-grid a:first-child span img {
            max-height: 100%;
        }
        .right-sidebar a {
            padding: 0px 10px;
        }
        .bsi_item .bsi__img img {
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 120px;
            margin: 0 auto;
         }
}
@media (min-width: 0px) and (max-width:767px) { 
    .card-list h1 {
        font-size: 18px;
    }
    .card-header, .card-body>div:nth-child(3) {
        display: none;
    }
    .card-body.flex-col {
        flex-wrap: wrap;
    }
     .card-body > div:first-child, .card-body > div:nth-child(2) {
         width: 50%;
     }
      .card-body > div:nth-child(4) {
         width: 20%;
     }
     .card-body > div:nth-child(5) {
         width: 30%;
     }
     .card-body > div:nth-child(6) {
         width: 25%;
     }
     .card-list-footer-1, .row-contact.flex-col {
         flex-wrap: wrap;
     }
     .card-list__total {
         margin-top: 15px;
     }
     .card-list-footer-2 .card-list-rulse-text {
         margin-right: 15px;
     }
     .card-body .card-list-title h4 {
         line-height: 130%;
     }
     .product-main .product__gallery, .product__controls {
        width: 100%;
    } .product__controls__instok.flex-col {
        position: absolute;
        top: 0px;
        width: 100%;
    }
    .product_brand img {
        height: 17px;
    }
    .product__feature {
        display: none;
    }
    .img-prev {
        width: 80px;
    }
    .product__card {
        margin-top: 25px;
    }
    .tabs__caption li {
        font-size: 18px;
    }
    .tabs__caption li:last-child {
        margin-right: 0px;
    }
    .related-products .bsi_item {
        width: 48%;
        margin-right:4%;
    }
    .related-products .bsi_item:nth-child(2) {
        margin-right: 0px;
    }
    .related-products .bsi_item:nth-child(3) {
        display: none;
    }
    .sitemap .content > ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .list-articles__conteiner {
        flex-wrap: wrap;
        justify-content: space-between;
    }
   
    .list-articles__conteiner .list-article {
        max-width: 48%;
        margin-right: 2%;
        margin-bottom: 35px;
    }
    .list-articles__conteiner .list-article:last-child {
        margin-right: 2%;
    }
    .list-articles__conteiner .list-article .list-article__img img {
        max-width: 90%;
    }
   
    .list-articles__conteiner .list-article h4 {
        margin: 8px 10px;
        font-size: 16px;
    }
    .list-articles__conteiner .list-article p {
        margin: 8px 10px;
    }
    input[type="search"] {
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    input[type="text"], input[type="nomber"] {
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .search input[type="search"] {
        border-radius: 4px !important;
    }
    .product__card {
        padding: 10px;
    }
    .product__card__row .btn.btn__blue {
        width: 130px;
    }
    .card-body .catd-list-qwt input {
        position: relative;
    }
    .card-body .catd-list-qwt:before {
      
        content: 'кол-во:';
        font-size: 13px;
        font-weight: 500;
        width: 70px;
        text-align: center;
        display: block;
    }
    
 }
@media (min-width: 767px) and (max-width:992px) { 
    .catalog-block-view__content > * {
        width: 31%;
        margin-right: 2%;
    }
    .catalog-block-view__content {
        justify-content: flex-start;
    }
    .catalog-block-view__content > *:nth-child(2n), .catalog-block-view__content .bsi_item:nth-child(4n) {
        margin-right: 2%;
    }
    .catalog-list-catalog > * {
        width: 32%;
        margin-right: 2%;
    }
   .catalog-list-catalog.flex-col {
    justify-content: flex-start;
   }
   .catalog-list-catalog > *:nth-child(2n) {
       margin-right: 2%;
   }
   .catalog-list-catalog > *:nth-child(3n) {
    margin-right: 0px;
}
.label-select-container > div {
    width: 32%;
    margin-right: 1%;
}
.product-main.flex-col {
    padding-top: 0px;
}
/* .sidebar-with .content {
    width: calc(100% - 300px);
    margin-bottom: 60px;
} */
.sitemap  .sidebar-with .sidebar {
    width: 270px;
}
.list-articles__conteiner .list-article h4 {
    font-size: 16px;
    margin: 10px 15px;
}
.list-articles__conteiner .list-article p {
    margin: 10px 15px;
}
.list-articles__conteiner .list-article {
    margin-right: 10px;
}
.list-articles__conteiner .list-article .list-article__img img {
    max-width: 85%;
}
.related-products .bsi_item {
    margin-right: 2%;
    width: 32%;
}
.related-products .bsi_item:nth-child(3) {
    margin-right: 0px; 
}
.product__card {
    padding: 15px;
}
.product__card__row .btn.btn__blue {
    width: 130px;
}
 }
@media (min-width: 0px) and (max-width:340px) { 
    .mobile-head-contact {
        width: 55%;
        margin-top: 5px;
    }
    .header__logo img {
        width: 38%;
    }
    
 }


 @media (min-width: 500px) and (max-width:600px) { 
    .mobile-head-contact .mobile-head-contact__phone {
        font-size: 16px;
        margin-top: 15px;
    }
    .mobile-head-contact .mobile-head-contact__mail {
        font-size: 16px;
    }
    .contant iframe {
        max-width: 560px;
    }
    .card-body .catd-list-qwt:before {
        content: 'кол-во:';
        font-size: 13px;
        display: inline-block;
        width: auto;
    }
    .card-body > div:nth-child(4) {
        width: 150px;
    }
  }

  @media (min-width: 600px) and (max-width:992px) { 
    .mobile-head-contact .mobile-head-contact__phone {
        font-size: 22px;
        margin-top: 15px;
    }
    .mobile-head-contact .mobile-head-contact__mail {
        font-size: 22px;
        margin-top: 15px;
    }
    .logo-footer:after {
        content: 'Официальный диллер компании «Дакар»';
        font-size: 18px;
        color: #fff;
        width: 30%;
    }
    .index-slider__item {
        padding: 100px 0px;
    }
    .index-slider__item .container {
        max-width: 80%;
    }
    .slick-next {
        right: 15px;
    }
    .slick-prev {
        left: 15px;
    }
    .products-grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contant iframe {
        max-width: 560px;
    }
    .container h1 {
        font-size: 24px;
    }
    .text-content h2 {
        font-size: 18px;
    }
    .param-filter__body label.checkbox-label {
        width: 31%;
    }
    .card-body .catd-list-qwt:before {
        content: 'кол-во:';
        font-size: 13px;
        display: inline-block;
        width: auto;
    }
    .card-body > div:nth-child(4) {
        width: 150px;
    }
  }

  @media (min-width: 800px) and (max-width:992px) {
    .mobile-head-contact .mobile-head-contact__phone {
        margin-top: 40px;
    }
    .with-sidebar .sidebar-content {
        width: calc(100% - 300px);
    }
    .with-sidebar .sidebar {
        width: 275px;
    }
    .your-benefit .yb-content input {
        width: 100%;
    }
    label.checkbox-label {
        font-size: 11px;
    }
    }

 