@charset "UTF-8";
* {
  outline: none;
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

::-webkit-input-placeholder {
  /* Edge */
  color: #919191; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #919191; }

::placeholder {
  color: #919191; }

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Gotham Pro', sans-serif;
  overflow-x: hidden;
  color: #252525; }

ul, ol {
  margin: 0px;
  padding: 0px; }

.header-top .container, .enter-block, .header .container, .card a, nav .container, nav ul, .why-we .container, .why-we .why-we__item, .title-flex-block, .products-grid a, .with-sidebar, .about-index__cj, .about-index__cj .about-index__items, .our-brands-index .our-brands__list, .banner-help .banner-help__black, .map__content .map__content-col, footer .footer .container, footer .footer-copy .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-top .header-top__left-text, .enter-block a, .header .header__phone span, .header .header__mail span, .your-benefit .yb__head p {
  font-size: 13px;
  font-weight: 500; }

.items {
  display: none; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px; }

.mobile-head-contact {
  display: none; }

.header-top {
  background: #f8f8f8;
  border-bottom: 1px solid #ededed;
  padding: 15.5px 0px; }
  .header-top .container {
    flex-wrap: wrap; }
  .header-top .header-top__left-text {
    line-height: 140%; }

.enter-block {
  flex-wrap: wrap; }
  .enter-block a {
    color: #252525;
    text-decoration: none;
    transition: all .2s; }
    .enter-block a:hover {
      color: #999; }
  .enter-block span.enter-block__span {
    width: 1px;
    height: 12px;
    background: #000;
    margin: 0px 26px; }

.header {
  padding: 30px 0px; }
  .header .container {
    flex-wrap: wrap; }
  .header .header__phone span, .header .header__mail span {
    display: block; }
  .header .header__phone a, .header .header__mail a {
    color: #252525;
    text-decoration: none;
    font-size: 22px;
    font-weight: 900;
    margin-top: 12px;
    display: inline-block;
    transition: all .2s; }
    .header .header__phone a:hover, .header .header__mail a:hover {
      opacity: 0.75; }

.card {
  max-width: 230px;
  width: 100%;
  height: 66px;
  transition: all .2s; }
  .card__full-text {
    font-size: 16px;
    font-weight: 700; }
    .card__full-text span {
      display: block;
      font-size: 13px;
      font-weight: 500; }
  .card:hover {
    opacity: 0.85; }
  .card a {
    height: 100%;
    color: #252525;
    text-decoration: none; }
  .card .card__icon {
    width: 60px;
    background: url(../img/icon-basket.png) no-repeat center #c94146;
    height: 100%;
    border-radius: 4px 0px 0px 4px; }
  .card .card__text {
    background: #f8f8f8;
    border: 1px solid #ededed;
    border-left: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0px 20px;
    width: calc(100% - 20px);
    border-radius: 0px 4px 4px 0px;
    line-height: 140%; }

nav {
  background: #2e5792; }
  nav li {
    font-size: 15px;
    font-weight: 500;
    display: block;
    position: relative; }
    nav li:hover ul.dropdown {
      display: block; }
    nav li ul.dropdown {
      display: none;
      position: absolute;
      top: 100%;
      flex-wrap: wrap;
      background: #2e5792;
      z-index: 2; }
      nav li ul.dropdown li {
        width: 100%; }
      nav li ul.dropdown a {
        width: 100%;
        border-top: 1px solid rgba(30, 70, 142, 0.5); }
  nav a {
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    transition: all .2s;
    cursor: pointer; }
    nav a.active, nav a:hover, nav a:focus {
      background: #c94146; }
  nav .search {
    margin-left: 16px; }

.search {
  width: 100%;
  position: relative; }
  .search input[type='search'] {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: none;
    padding-left: 18px;
    font-size: 11px;
    padding-right: 58px;
    line-height: 40px; }
  .search input[type='submit'] {
    border: none;
    border-radius: 0px;
    background: url(../img/icon-search.png) no-repeat center #c94146;
    position: absolute;
    width: 40px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 0px 12px 12px 0px;
    cursor: pointer;
    transition: all .2s; }
    .search input[type='submit']:hover {
      opacity: 0.85; }

.index-slider {
  position: relative; }

.index-slider__item {
  padding: 150px 0px; }
  .index-slider__item .index-slider__content {
    padding: 40px;
    display: inline-block;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.5);
    color: #fff;
    max-width: 510px;
    margin-left: 75px;
    z-index: 2;
    position: relative; }
    .index-slider__item .index-slider__content .index-slider__d {
      font-size: 22px;
      font-weight: 700; }
    .index-slider__item .index-slider__content .index-slider__title {
      font-size: 52px;
      font-weight: 900;
      margin-top: 26px;
      margin-bottom: 20px; }
    .index-slider__item .index-slider__content a {
      font-size: 13px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      padding: 16px 40px;
      display: inline-block;
      border: 2px solid #fff;
      border-radius: 10px;
      text-decoration: none;
      transition: all .2s; }
      .index-slider__item .index-slider__content a:hover, .index-slider__item .index-slider__content a:focus {
        background: #fff;
        color: #000; }

.why-we {
  padding: 30px 0px; }
  .why-we .why-we__item {
    background: url(../img/why-we-img.jpg) no-repeat;
    width: 270px;
    height: 174px;
    padding: 24px 29px;
    flex-wrap: wrap; }
    .why-we .why-we__item .why-we__img {
      width: 66px; }
    .why-we .why-we__item .why-we__title {
      width: calc(100% - 66px);
      font-size: 22px;
      font-weight: 700; }
    .why-we .why-we__item p {
      font-size: 13px;
      line-height: 140%; }

.title {
  font-size: 37px;
  font-weight: 900;
  line-height: 110%; }
  .title span {
    color: #2e5792;
    display: block; }

.products-block {
  overflow: hidden; }
  .products-block .container {
    background: #f8f8f8;
    padding-top: 70px;
    padding-bottom: 80px;
    position: relative; }
    .products-block .container:before {
      content: "";
      background: #f8f8f8;
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 90px;
      left: -90px; }
    .products-block .container:after {
      content: "";
      background: #f8f8f8;
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 1000%;
      right: -9999px;
      left: 100%; }

.title-flex-block {
  flex-wrap: wrap;
  align-items: flex-end; }
  .title-flex-block .read-more {
    font-size: 16px;
    color: #2e5792;
    font-weight: 700;
    border-bottom: 1px dotted #2e5792;
    text-decoration: none; }

.products-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
  width: 100%;
  margin-top: 30px; }
  .products-grid a:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    flex-wrap: wrap;
    justify-content: center; }
    .products-grid a:first-child span {
      width: 100%;
      display: block;
      text-align: center; }
      .products-grid a:first-child span img {
        display: block;
        margin: 0 auto;
        max-width: 100%; }
    .products-grid a:first-child div {
      width: 60%;
      text-align: left;
      line-height: 140%;
      margin-left: 0%; }
  .products-grid a {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    overflow: hidden;
    font-size: 19px;
    font-weight: 700;
    color: #252525;
    text-decoration: none;
    padding: 15px;
    transition: all .2s; }
    .products-grid a:hover {
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }
    .products-grid a span {
      width: 40%;
      display: block;
      text-align: center; }
      .products-grid a span img {
        display: block;
        margin: 0 auto;
        max-width: 100%; }
    .products-grid a div {
      width: 55%;
      line-height: 140%;
      margin-left: 5%; }

.bsi__in-card {
  background: url(../img/icon-basket.png) no-repeat 7px 8px #17ac17 !important;
  background-size: 13px !important;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-top: 8px;
  cursor: default; }
  .bsi__in-card span {
    font-size: 10px; }

.bsi {
  padding-top: 70px;
  padding-bottom: 80px; }
  .bsi__buy-button {
    height: 50px;
    width: 50px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    line-height: 52px;
    transition: all .2s;
    background: url(../img/icon-basket.png) no-repeat center #2e5792; }
    .bsi__buy-button:hover {
      opacity: 0.85; }
  .bsi__footer {
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center; }

.bsi__content {
  display: flex;
  justify-content: flex-start;
  margin-left: -10px;
  margin-right: -10px; }

.bsi__content .slick-slider {
  width: 100%;
  padding: 15px 0px; }

.bsi_item {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ededed;
  overflow: hidden;
  background: #fff;
  position: relative;
  max-width: 270px;
  transition: all .2s; }
  .bsi_item:nth-child(4n) {
    margin-right: 0px; }
  .bsi_item:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }
  .bsi_item .bsi-favorite {
    background: url(../img/white-star.png) no-repeat center #c94146;
    width: 40px;
    height: 30px;
    top: 0px;
    right: 15px;
    border-radius: 0px 0px 4px 4px;
    display: block;
    position: absolute; }
  .bsi_item .bsi__img {
    max-width: 170px;
    max-height: 120px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px; }
    .bsi_item .bsi__img img {
      max-width: 100%;
      max-height: 100%; }
  .bsi_item .bsi__title {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    line-height: 140%;
    padding: 0px 20px;
    margin-bottom: 30px; }
    .bsi_item .bsi__title a {
      color: #000;
      text-decoration: none; }
  .bsi_item .bsi__param {
    background: #fafafa;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    position: relative; }
    .bsi_item .bsi__param p {
      margin: 9px 0px; }
    .bsi_item .bsi__param span:first-child {
      font-weight: 300;
      width: 105px;
      display: inline-block;
      padding-left: 25px;
      position: relative;
      vertical-align: top; }
      .bsi_item .bsi__param span:first-child:before {
        content: '•';
        color: #2e5792;
        font-size: 22px;
        left: 0px;
        position: absolute; }
    .bsi_item .bsi__param span:last-child {
      display: inline-block;
      width: calc(100% - 110px);
      vertical-align: top; }
    .bsi_item .bsi__param .bsi__hover {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 90%;
      background: #2e5792;
      padding: 28px 0px;
      border-radius: 0px 10px 10px 0px;
      opacity: 0;
      visibility: hidden;
      transition: all .2s; }
      .bsi_item .bsi__param .bsi__hover a {
        font-size: 16px;
        font-weight: 500;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        display: table;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 14px 0px;
        width: 150px;
        text-decoration: none;
        margin-bottom: 10px;
        position: relative;
        left: 5%;
        transition: all .2s; }
        .bsi_item .bsi__param .bsi__hover a:last-child {
          margin-bottom: 0px; }
        .bsi_item .bsi__param .bsi__hover a:hover, .bsi_item .bsi__param .bsi__hover a:focus {
          background: #355d9a; }
  .bsi_item .bsi__price {
    text-align: center;
    padding: 25px 0px;
    font-size: 25px;
    font-weight: 700; }
    .bsi_item .bsi__price span {
      font-size: 18px;
      text-transform: uppercase; }
  .bsi_item:hover .bsi__hover {
    opacity: 1;
    visibility: visible; }

.with-sidebar {
  flex-wrap: wrap;
  align-items: flex-start; }
  .with-sidebar .sidebar-content {
    width: calc(100% - 300px); }
  .with-sidebar .sidebar {
    width: 275px; }

.about-index .container {
  background: #f8f8f8;
  padding: 75px 0px;
  position: relative; }
  .about-index .container:before {
    content: "";
    background: #f8f8f8;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 90px;
    right: -90px; }
  .about-index .container:after {
    content: "";
    background: #f8f8f8;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 1000%;
    right: -9999px;
    right: 100%; }

.your-benefit {
  background: url(../img/sidebar-banner-form.jpg) no-repeat center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden; }
  .your-benefit .yb__head {
    background: rgba(30, 75, 142, 0.9);
    color: #fff;
    padding: 15px 30px;
    padding-bottom: 20px; }
    .your-benefit .yb__head h2 {
      font-size: 28px;
      font-weight: 900;
      text-align: center;
      margin-bottom: 18px; }
    .your-benefit .yb__head p {
      line-height: 180%;
      text-align: justify;
      margin: 0px; }
  .your-benefit .yb-content {
    background: rgba(201, 65, 70, 0.9);
    color: #fff;
    padding: 15px 30px;
    padding-bottom: 30px; }
    .your-benefit .yb-content h2 {
      font-size: 28px;
      font-weight: 900;
      text-align: center;
      margin-bottom: 18px;
      line-height: 130%;
      margin-top: 15px; }
    .your-benefit .yb-content input {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      border: none;
      padding: 0px 20px;
      margin-bottom: 10px;
      font-size: 13px; }
    .your-benefit .yb-content button {
      width: 100%;
      margin-top: 15px;
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      border: 2px solid #fff;
      background: none;
      border-radius: 10px;
      height: 50px;
      cursor: pointer;
      transition: all .2s; }
      .your-benefit .yb-content button:hover {
        background: #fff;
        color: #000; }

label.checkbox-label {
  width: auto;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  font-weight: 300;
  padding-left: 25px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  display: block; }

.checkbox-label:before {
  content: '';
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background: none;
  border: 1px solid #fff;
  border-radius: 2px;
  position: absolute;
  left: 0;
  padding: 0;
  top: 3px;
  display: block;
  box-shadow: inset 0 0 0 2px #c94146; }

.checkbox-label.active:before {
  background: #fff;
  width: 14px;
  height: 14px; }

input[type=checkbox]:not(checked) {
  position: absolute;
  opacity: 0; }

.text-content {
  margin-top: 25px; }
  .text-content h2 {
    font-size: 19px; }
  .text-content p {
    font-size: 16px;
    line-height: 200%;
    margin: 19px 0px; }

.about-index__cj {
  margin-top: 30px; }
  .about-index__cj .about-index__items {
    background: url(../img/about__img.jpg) no-repeat;
    width: 270px;
    height: 112px;
    padding: 24px 20px;
    flex-wrap: wrap;
    border-radius: 10px; }
    .about-index__cj .about-index__items .about-index__nom {
      width: 80px;
      color: #c94146;
      font-size: 40px;
      font-weight: 900;
      position: relative;
      top: -2px;
      padding-left: 5px; }
      .about-index__cj .about-index__items .about-index__nom span {
        font-size: 22px; }
      .about-index__cj .about-index__items .about-index__nom:after {
        background: #c94146;
        content: ' ';
        width: 30px;
        height: 5px;
        border-radius: 5px;
        display: block;
        left: 5px;
        margin-top: 8px;
        overflow: hidden; }
    .about-index__cj .about-index__items .about-index__text {
      font-size: 22px;
      font-weight: 900;
      line-height: 140%;
      width: calc(100% - 80px); }

.our-brands-index {
  padding: 70px 0px; }
  .our-brands-index .our-brands__list {
    margin-top: 25px;
    justify-content: flex-start; }
    .our-brands-index .our-brands__list .out-brands__item {
      margin-right: 25px;
      width: 100%; }
      .our-brands-index .our-brands__list .out-brands__item a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 250px;
        max-width: 170px;
        height: 100px;
        flex-grow: 1;
        border-radius: 10px;
        border: 1px solid #f9f9f9;
        background: #fff;
        transition: all .2s; }
        .our-brands-index .our-brands__list .out-brands__item a:hover {
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }
      .our-brands-index .our-brands__list .out-brands__item:last-child {
        margin-right: 0px; }

.banner-help {
  margin-bottom: 40px;
  background: url(../img/help-specialists.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  border-radius: 10px; }
  .banner-help .banner-help__black {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 100px; }
    .banner-help .banner-help__black .banner-help__text {
      color: #fff;
      font-size: 24px;
      font-weight: 900;
      max-width: 480px;
      line-height: 140%;
      margin-right: 15px; }
      .banner-help .banner-help__black .banner-help__text span {
        color: #c94146; }
    .banner-help .banner-help__black .banner-help__phone {
      max-width: 480px;
      margin-left: 15px;
      font-size: 39px;
      font-weight: 900;
      color: #fff; }

.map {
  height: 470px;
  width: 100%;
  position: relative;
  border-top: 10px solid #2e5792; }
  .map #map {
    height: 470px;
    width: 100%; }

.map__content {
  position: absolute;
  right: 15%;
  top: 10%;
  background: url(../img/texture.jpg);
  border-radius: 10px;
  padding: 45px 50px;
  max-width: 330px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }
  .map__content .title {
    margin-bottom: 30px; }
  .map__content .map__content-col {
    justify-content: flex-start;
    margin-bottom: 20px; }
    .map__content .map__content-col a {
      font-size: 16px;
      font-weight: 900;
      color: #252525;
      text-decoration: none;
      width: calc(100% - 48px);
      transition: all .2s; }
      .map__content .map__content-col a:hover {
        opacity: 0.7; }
    .map__content .map__content-col div {
      font-size: 13px;
      font-weight: 900;
      color: #252525;
      width: calc(100% - 48px);
      line-height: 140%; }
  .map__content .icon-phone {
    background: url(../img/icon-phone.png) no-repeat center #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-right: 18px; }
  .map__content .icon-mail {
    background: url(../img/icon-plane.png) no-repeat center #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-right: 18px; }
  .map__content .icon-flag {
    background: url(../img/icon-flag.png) no-repeat center #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-right: 18px; }

footer {
  background: #2e5793; }
  footer .footer {
    padding: 30px 0px; }
    footer .footer .container {
      color: #fff;
      font-weight: 500;
      font-size: 12px; }
      footer .footer .container .fz10 {
        font-size: 10px;
        font-weight: 400; }
      footer .footer .container .ip {
        font-size: 12px;
        font-weight: 500; }
    footer .footer .footer-call-back {
      width: 200px;
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      border: 2px solid #fff;
      background: none;
      border-radius: 10px;
      height: 50px;
      cursor: pointer;
      text-decoration: none;
      transition: all .2s;
      text-align: center;
      line-height: 50px; }
      footer .footer .footer-call-back:hover, footer .footer .footer-call-back:focus {
        background: #fff;
        color: #000; }
  footer .footer-copy {
    background: #1f4379;
    padding: 30px 0px; }
    footer .footer-copy .container {
      font-size: 13px;
      color: #fff; }
      footer .footer-copy .container p {
        margin: 0px; }
      footer .footer-copy .container a {
        color: #fff; }

.mobile-catalog-menu {
  display: none; }

.mobile-bsi {
  display: none; }

.contact__content {
  display: none; }

.fullwidth {
  padding-top: 28px; }

.breadcrumbs {
  font-size: 11px;
  color: #252525;
  margin-bottom: 35px; }

.breadcrumbs a {
  font-size: 11px;
  opacity: 0.5;
  color: #252525;
  text-decoration: none;
  position: relative; }

.breadcrumbs a:after {
  background: url(../img/arr-breadcrumb.png) no-repeat;
  width: 6px;
  content: '';
  height: 8px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px; }

.img-prev {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  width: 112px; }

.product__gallery img {
  width: 100%; }

.img-prev img {
  width: 100%;
  border-radius: 8px; }

.product__gallery:after {
  content: '';
  display: block;
  clear: both; }

.flex-col {
  display: flex;
  justify-content: space-between; }

.sidebar-with .sidebar {
  width: 270px;
  background: #f8f8f8;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  position: relative; }

.sidebar-with .sidebar:before {
  content: "";
  background: #f8f8f8;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 1000%;
  right: 100%; }

.sidebar-with .content {
  width: calc(100% - 300px);
  margin-bottom: 60px; }

.sidebar-catalog {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ebebeb; }

.sidebar-catalog a {
  color: #252525;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none; }

.sidebar-catalog__title {
  height: 50px;
  background: #2e5792;
  color: #fff;
  line-height: 50px;
  border-radius: 10px 10px 0px 0px;
  font-weight: 700;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase; }

.sidebar-catalog li {
  display: block;
  position: relative; }

.sidebar-catalog > ul > li {
  border-bottom: 1px solid #ebebeb; }

.sidebar-catalog > ul > li > a {
  display: block;
  min-height: 47px;
  display: flex;
  align-items: center;
  line-height: 130%;
  margin: 0px 21px;
  margin-right: 35px;
  position: relative; }

.dropdown__opened .lvl-1-toggle {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.sidebar-catalog > ul > li.dropdown__opened .dropdown__sidebar.lvl_1 {
  display: block; }

.lvl-1-toggle {
  background: url(../img/icon-select.png) no-repeat;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 19px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  cursor: pointer;
  transition: all .2s; }

.sidebar-catalog > ul > li:last-child > a {
  border-radius: 0px 0px 10px 10px; }

.sidebar-catalog > ul > li .dropdown__sidebar.lvl_1 {
  padding: 10px 0px;
  padding-top: 0px;
  /*display: none;*/ }

.sidebar-catalog > ul > li .dropdown__sidebar.lvl_1 > li {
  padding: 0px 20px;
  position: relative; }

.sidebar-catalog > ul > li .dropdown__sidebar.lvl_1 > li > a {
  min-height: 24px;
  display: block;
  padding-left: 11px;
  padding-right: 11px;
  display: flex;
  align-items: center;
  position: relative; }

.sidebar-catalog > ul > li .dropdown__sidebar.lvl_1 > li > a:after {
  background: url(../img/arr-breadcrumb.png) no-repeat;
  width: 6px;
  content: '';
  height: 8px;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 8px; }

.sidebar-catalog > ul > li .dropdown__sidebar.lvl_1 > li > a:hover {
  background: #2e5792;
  color: #fff; }

.sidebar-catalog > ul > li .dropdown__sidebar.lvl_1 > li:hover ul.dropdown__sidebar.lvl_2 {
  opacity: 1;
  visibility: visible; }

.sidebar-catalog > ul > li .dropdown__sidebar.lvl_1 > li > a:hover:after {
  background: url(../img/arr-breadcrumb-hover.png) no-repeat; }

.sidebar-catalog > ul > li:last-child {
  border: none; }

.sidebar-catalog > ul > li .dropdown__sidebar.lvl_1 > li > ul.dropdown__sidebar.lvl_2 {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 100%;
  background: #fff;
  width: 100%;
  padding: 20px;
  top: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 10px 10px 10px;
  -webkit-transition: all 0s ease;
  -webkit-transition-delay: .3s;
  -webkit-transition: all 0s ease .3s;
  transition: all 0s ease .3s; }

.sidebar-catalog > ul > li .dropdown__sidebar.lvl_1 > li > ul.dropdown__sidebar.lvl_2 > li > a {
  padding: 6px 20px;
  display: block; }

.sidebar-catalog > ul > li .dropdown__sidebar.lvl_1 > li > ul.dropdown__sidebar.lvl_2 > li > a:hover {
  background: #1e4b8e;
  color: #fff; }

.product-main {
  width: 100%; }
  .product-main .product__gallery {
    width: 54%; }

.product__controls {
  width: calc(46% - 30px); }

.product__feature {
  padding: 21px 0px;
  padding-bottom: 15px; }

.content h1 {
  margin-top: 0px;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px; }

.product__controls__instok.flex-col {
  align-items: center; }
  .product__controls__instok.flex-col .instok {
    color: #32ca2f;
    font-size: 11px;
    font-weight: 500; }

.product__feature {
  color: #252525; }
  .product__feature .product__feature__tilte {
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 20px; }
  .product__feature .product__feature__list {
    font-weight: 700;
    text-transform: uppercase; }
    .product__feature .product__feature__list p {
      margin: 8px 0px; }
  .product__feature .product__feature__list span {
    display: inline-block;
    font-size: 16px;
    text-transform: none;
    width: 120px;
    font-weight: 400;
    position: relative; }
  .product__feature .product__feature__list span:before {
    content: '•';
    color: #e0e0e0;
    margin-right: 13px;
    margin-left: 5px; }

.product__card {
  background: #f8f8f8;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 30px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase; }
  .product__card .product__card__price__name {
    margin-bottom: 15px; }
  .product__card .product__card__price {
    font-size: 24px;
    margin-bottom: 15px; }
    .product__card .product__card__price span {
      font-size: 16px; }
  .product__card .product__card__qwt {
    margin-top: 15px; }
  .product__card .product__card__qwt input {
    width: 48px;
    height: 48px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    text-align: center;
    margin-left: 10px; }

.product__card__row.flex-col, .product__card__qwt.flex-col {
  align-items: center; }

.flex-col.item-end {
  align-items: flex-end; }

.btn {
  height: 50px;
  border: none;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  line-height: 52px;
  transition: all .2s; }

.btn:hover {
  opacity: 0.85; }

.btn.btn__blue {
  background: #1e4b8e;
  color: #fff;
  width: 170px;
  margin-top: 15px;
  cursor: pointer; }

.btn.btn__grey {
  width: 100%;
  background: #fff;
  border: 1px solid #ebebeb;
  color: #252525;
  margin-top: 12px; }

.tabs-product {
  margin: 50px 0px; }

.tabs__caption {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  margin: -1px 0 0 -1px; }

.tabs__caption li:last-child:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: -2px;
  z-index: -1;
  height: 5px; }

.tabs__caption:after {
  content: '';
  display: table;
  clear: both; }

.tabs__caption li {
  margin: 1px 0 0 1px;
  color: #000;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  opacity: 0.5;
  margin-right: 40px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5); }

.tabs__caption li:not(.active) {
  cursor: pointer; }

.tabs__caption .active {
  background: #FFF;
  color: #000;
  opacity: 1; }

.tabs__caption .active:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px;
  background: #FFF; }

.tabs__content {
  display: none; }
  .tabs__content p {
    font-size: 13px;
    line-height: 200%;
    margin: 23px 0px; }
  .tabs__content .product__feature__list p {
    font-size: 16px;
    text-transform: uppercase; }
  .tabs__content .product__feature .product__feature__list span {
    width: 220px; }

.product__feature .product__feature__list select {
  max-width: 200px;
  display: inline-block;
  height: 30px;
  border-radius: 6px; }

.tabs__content.active {
  display: block; }

.red-text {
  color: red; }

.flex-col.flex-start {
  justify-content: flex-start; }

.related-products .related-products__title {
  font-size: 24px;
  font-weight: 900; }

.related-products .bsi_item {
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px; }

.related-products .related-product__item {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  margin: 20px 0px;
  width: 32%;
  margin-right: 2%;
  transition: all .2s;
  overflow: hidden; }
  .related-products .related-product__item:nth-child(3n) {
    margin-right: 0px; }
  .related-products .related-product__item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  .related-products .related-product__item a {
    text-decoration: none;
    text-align: center;
    color: #252525; }
  .related-products .related-product__item .related-product__img {
    margin: 0 auto;
    width: 70%;
    height: 170px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center; }
    .related-products .related-product__item .related-product__img img {
      max-width: 100%;
      max-height: 100%; }
  .related-products .related-product__item .related-product__title {
    width: 75%;
    margin: 0px auto;
    font-size: 19px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 25px;
    margin-bottom: 25px; }
  .related-products .related-product__item .related-pricuct__price {
    padding: 22px 0px;
    border-top: 1px solid #ebebeb;
    font-size: 24px;
    font-weight: 700; }
    .related-products .related-product__item .related-pricuct__price span {
      font-size: 18px; }

.sidebar-banner {
  margin: 38px 0px;
  border-radius: 10px;
  overflow: hidden; }

.sidebar-banner img {
  width: 100%; }

.banner-help-form {
  margin-bottom: 40px;
  background: url(../img/help-specialists.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  border-radius: 10px; }

.banner-help-form .banner-help-form__block {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 66px; }
  .banner-help-form .banner-help-form__block .left-side {
    width: 80%; }
  .banner-help-form .banner-help-form__block .banner-help-form__title {
    font-size: 32px;
    color: #fff;
    line-height: 120%;
    font-weight: 900; }
    .banner-help-form .banner-help-form__block .banner-help-form__title span {
      color: #c94146; }
  .banner-help-form .banner-help-form__block .banner-help-form__description {
    font-size: 16px;
    color: #fff;
    line-height: 150%;
    margin-top: 16px; }
  .banner-help-form .banner-help-form__block .banner-hf__inputs input {
    width: 48%;
    display: inline-block;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    font-size: 13px;
    color: #fff;
    border: none;
    padding: 0px 15px;
    font-weight: 500; }
  .banner-help-form .banner-help-form__block .checkbox-label {
    margin-top: 17px; }
  .banner-help-form .banner-help-form__block .checkbox-label:before {
    background: none;
    box-shadow: none; }
  .banner-help-form .banner-help-form__block .checkbox-label.active:before {
    background: red;
    box-shadow: inset 0 0 0 2px #000; }
  .banner-help-form .banner-help-form__block button[type='submit'] {
    width: 200px;
    color: #c94146;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid #c94146;
    background: none;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    transition: all .2s;
    text-align: center;
    line-height: 43px;
    margin-top: 25px; }
    .banner-help-form .banner-help-form__block button[type='submit']:hover {
      background: #c94146;
      color: #fff; }

.banner-hf__inputs input::placeholder {
  color: #fff; }

.catalog-list-catalog {
  flex-wrap: wrap;
  margin: 30px 0px; }
  .catalog-list-catalog > * {
    width: 32%;
    margin-right: 2%;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    margin-bottom: 28px;
    padding: 15px;
    text-decoration: none;
    color: #252525;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: all .2s;
    padding-bottom: 25px; }
    .catalog-list-catalog > *:nth-child(3n) {
      margin-right: 0px; }
    .catalog-list-catalog > *:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
    .catalog-list-catalog > * div {
      text-align: center;
      font-size: 19px;
      font-weight: 900;
      line-height: 150%;
      width: 80%;
      margin: 0 auto; }
  .catalog-list-catalog span {
    width: 75%;
    margin: 0 auto;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .catalog-list-catalog span img {
      max-width: 100%;
      max-height: 150px; }

.catalog-banner {
  padding: 0px; }
  .catalog-banner img {
    width: 100%; }

.catalog-text {
  margin: 50px 0px; }
  .catalog-text h2 {
    font-size: 24px; }

.catalog-text p {
  line-height: 200%;
  font-size: 13px;
  margin: 25px 0px; }

.sidebar-search {
  background: url(../img/blue-texture.jpg);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px; }
  .sidebar-search .sidebar-search__title {
    color: #fff;
    font-size: 19px;
    font-weight: 900;
    line-height: 140%;
    margin-left: 10px;
    margin-bottom: 15px; }

select {
  min-width: 195px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 50px;
  background: #fff;
  padding: 0px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  position: relative;
  display: block;
  background: url(../img/icon-select.png) no-repeat 95% 50% #fff;
  font-size: 13px;
  font-weight: 400; }

.catalog-filter {
  margin-top: 32px; }
  .catalog-filter .catalog-view__block {
    width: 70px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    height: 50px;
    padding: 0px 10px; }
    .catalog-filter .catalog-view__block a.block-view {
      display: inline-block;
      background: url(../img/block-view.png) no-repeat right;
      width: 17px;
      height: 17px; }
      .catalog-filter .catalog-view__block a.block-view.active, .catalog-filter .catalog-view__block a.block-view:hover {
        background: url(../img/block-view.png) no-repeat left; }
    .catalog-filter .catalog-view__block a.list-view {
      display: inline-block;
      background: url(../img/list-view.png) no-repeat right;
      width: 17px;
      height: 17px; }
      .catalog-filter .catalog-view__block a.list-view.active, .catalog-filter .catalog-view__block a.list-view:hover {
        background: url(../img/list-view.png) no-repeat left; }
  .catalog-filter .catalog-filter__search {
    position: relative;
    width: calc(100% - 500px); }
    .catalog-filter .catalog-filter__search input[type='search'] {
      width: 100%;
      height: 50px;
      border-radius: 12px;
      border: none;
      padding-left: 18px;
      font-size: 11px;
      padding-right: 58px;
      border: 1px solid #e6e6e6; }
    .catalog-filter .catalog-filter__search input[type='submit'] {
      border: none;
      border-radius: 0px;
      background: url(../img/icon-search.png) no-repeat center #c94146;
      position: absolute;
      width: 50px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      border-radius: 0px 12px 12px 0px;
      cursor: pointer;
      transition: all .2s; }

.catalog-filter select {
  width: 270px; }

.catalog-filter__view select {
  min-width: 70px;
  width: 70px;
  background: url(../img/icon-select.png) no-repeat 80% 50% #fff; }

.list-catalog-header {
  margin: 18px 0px;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 20px 24px;
  font-size: 12px;
  font-weight: 500;
  text-align: center; }

.list-catalog-header > div:nth-child(1), .list-catalog-body > div:nth-child(1) {
  width: 24%;
  text-align: left; }

.list-catalog-header > div:nth-child(2), .list-catalog-body > div:nth-child(2) {
  width: 26%; }

.list-catalog-header > div:nth-child(3), .list-catalog-body > div:nth-child(3) {
  width: 10%; }

.list-catalog-header > div:nth-child(4), .list-catalog-body > div:nth-child(4) {
  width: 12%; }

.list-catalog-header > div:nth-child(5), .list-catalog-body > div:nth-child(5) {
  width: 7%; }

.list-catalog-header > div:nth-child(6), .list-catalog-body > div:nth-child(6) {
  width: 14%; }

.list-catalog-header > div:nth-child(7), .list-catalog-body > div:nth-child(7) {
  width: 8%;
  border: none;
  justify-content: flex-end; }

.list-catalog-body > div {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 20px 0px;
  justify-content: center; }

.analogs-product {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding: 0px 20px; }
  .analogs-product a {
    display: block;
    color: #c94146;
    white-space: nowrap;
    font-weight: 400;
    text-decoration: none;
    font-size: 12px; }
    .analogs-product a:hover {
      text-decoration: underline; }

.list-catalog-body {
  margin: 18px 0px;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 0px 24px;
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
  background: #fafafa; }
  .list-catalog-body .btn.btn__blue {
    text-transform: uppercase;
    margin: 0px;
    max-width: 150px; }
  .list-catalog-body input {
    width: 36px;
    height: 36px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto; }
  .list-catalog-body .catalog-list__instok {
    width: 20px;
    height: 20px;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #fff;
    margin: 0 auto; }
    .list-catalog-body .catalog-list__instok.many {
      background: #00ff00; }
    .list-catalog-body .catalog-list__instok.medium {
      background: #ffff00; }
    .list-catalog-body .catalog-list__instok.low {
      background: #ff0000; }
  .list-catalog-body .type-sell__item {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px; }

.acticul-name__item span {
  display: block;
  font-size: 12px;
  padding-bottom: 3px; }

.acticul-name__item {
  font-weight: 400;
  padding-right: 15px; }
  .acticul-name__item a {
    text-decoration: none;
    color: #252525;
    display: block; }
.articule a {
  color: #B52A39;
}

.list-catalog__price {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700; }
  .list-catalog__price span {
    font-size: 13px; }

.footer-catalog-list {
  margin: 40px 0px;
  align-items: center; }
  .footer-catalog-list .catalog-list__summ {
    font-size: 13px; }
    .footer-catalog-list .catalog-list__summ span {
      font-weight: 700; }

.buy-btn-catalog {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  line-height: 52px;
  transition: all .2s;
  background: url(../img/icon-basket.png) no-repeat center #2e5792; }
  .buy-btn-catalog:hover {
    opacity: 0.85; }

.pagination .page-prev {
  background: url(../img/arr-breadcrumb.png) no-repeat center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: none; }
  .pagination .page-prev:hover {
    background: url(../img/arr-breadcrumb-hover.png) no-repeat center #1e4b8e; }

.pagination .page-next {
  background: url(../img/arr-breadcrumb.png) no-repeat center;
  transition: none;
  margin-right: 0px; }
  .pagination .page-next:hover {
    background: url(../img/arr-breadcrumb-hover.png) no-repeat center #1e4b8e; }

.pagination a {
  width: 48px;
  height: 48px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  text-align: center;
  margin-right: 10px;
  display: inline-block;
  font-size: 13px;
  line-height: 48px;
  color: #252525;
  text-decoration: none;
  transition: all .2s; }
  .pagination a.active, .pagination a:hover {
    background: #1e4b8e;
    color: #fff; }

.sidebar-param-filter {
  background: #fff;
  padding: 0px;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  margin: 30px 0px; }
  .sidebar-param-filter .param-filter__title {
    font-size: 19px;
    font-weight: 900;
    line-height: 130%;
    padding: 10px 30px;
    padding-top: 20px; }

#range-filter {
  margin: 25px 10px;
  margin-bottom: 35px; }

.param-filter__row__head {
  position: relative;
  padding: 5px 0px;
  cursor: pointer; }
  .param-filter__row__head .param-filter__head__title {
    font-size: 13px;
    font-weight: 700;
    color: #212121; }
  .param-filter__row__head .param-filter__head__toggler {
    background: url(../img/icon-select.png) no-repeat;
    width: 10px;
    height: 8px;
    position: absolute;
    right: 0px;
    display: inline-block;
    top: 6px;
    transition: all .2s; }
    .param-filter__row__head .param-filter__head__toggler.close {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }

.param-filter-row {
  border-bottom: 1px solid #ebebeb;
  padding: 16px 20px;
  padding-bottom: 10px; }

.param-filter__body {
  padding: 15px 0px;
  padding-bottom: 5px; }
  .param-filter__body label.checkbox-label {
    color: #000;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500; }
    .param-filter__body label.checkbox-label:last-child {
      margin-bottom: 0px; }
  .param-filter__body .checkbox-label:before {
    top: 2px;
    border: 1px solid #ebebeb;
    box-shadow: inset 0 0 0 2px #fff; }
  .param-filter__body .checkbox-label.active:before {
    background: #c94146; }

.param-filter__accept button {
  width: 100%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: none;
  background: #1e4b8e;
  padding: 18px 0px;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
  transition: all .2s; }
  .param-filter__accept button:hover {
    opacity: 0.85; }

.catalog-block-view__content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 5px 0px; }
  .catalog-block-view__content > * {
    width: 32%;
    max-width: none;
    margin: 15px 0px;
    margin-right: 2%; }
    .catalog-block-view__content > *:nth-child(3n) {
      margin-right: 0px; }
  .catalog-block-view__content .bsi_item:nth-child(4n) {
    margin-right: 2%; }

.page-404 {
  padding: 175px 0px;
  background: url(../img/404.jpg) no-repeat center bottom; }
  .page-404 .nomber-404 {
    font-size: 210px;
    font-weight: 900;
    color: #c94146; }
  .page-404 .title-404 {
    margin-top: 60px;
    font-size: 32px;
    color: #252525;
    font-weight: 900;
    margin-bottom: 32px; }
  .page-404 .text-404 {
    font-size: 19px;
    max-width: 550px;
    line-height: 160%; }
  .page-404 .btns-404 .btn.btn__blue {
    margin-top: 25px;
    font-size: 13px;
    text-transform: uppercase; }
    .page-404 .btns-404 .btn.btn__blue:last-child {
      margin-left: 30px;
      background: #c94146; }

.sitemap a:hover {
  opacity: 0.7; }

.sitemap ul li {
  min-height: 30px;
  line-height: 30px;
  display: block; }

.sitemap ul > li > ul > li {
  display: block;
  margin-left: 40px; }

.sitemap ul > li > ul > li > a {
  font-size: 16px;
  font-weight: 400;
  color: #313131;
  text-decoration: none; }
  .sitemap ul > li > ul > li > a:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 6px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #c94146;
    margin-right: 10px;
    vertical-align: middle;
    top: -2px;
    position: relative; }

.sitemap ul > li > ul > li > ul {
  margin-bottom: 20px; }

.sitemap ul > li > ul > li > ul > li > a {
  position: relative;
  padding-left: 16px;
  display: block; }
  .sitemap ul > li > ul > li > ul > li > a:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #c94146;
    margin-right: 10px;
    vertical-align: middle;
    top: 11px;
    position: absolute;
    left: 0px; }

.sitemap ul > li > a {
  font-size: 16px;
  font-weight: 700;
  color: #313131;
  text-decoration: none; }
  .sitemap ul > li > a:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 6px;
    border-radius: 6px;
    background: #c94146;
    margin-right: 20px;
    vertical-align: middle;
    top: -2px;
    position: relative; }

.sitemap .content > ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }

.sitemap .sidebar {
  background: none;
  padding-top: 0px; }
  .sitemap .sidebar:before {
    display: none; }

#map_contact {
  height: 400px;
  width: 100%; }

.contact-h2 {
  font-weight: 900;
  font-size: 24px;
  margin-top: 35px; }
  .contact-h2 a {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: #313131;
    border-bottom: 1px dashed #313131;
    display: inline-block;
    margin-left: 35px; }
  .contact-h2 span {
    margin-right: 21px; }

.col-contact {
  width: 48%; }
  .col-contact .btn.btn__red {
    margin-top: 40px; }
  .col-contact p {
    line-height: 195%;
    margin: 20px 0px;
    margin-left: 42px; }
    .col-contact p a {
      color: #313131;
      text-decoration: none;
      border-bottom: 1px solid #313131;
      display: inline-block;
      margin-right: 30px;
      line-height: 120%; }
      .col-contact p a:last-child {
        margin-right: 0px; }
    .col-contact p.href-messegers a {
      border: none; }

.btn.btn__red {
  width: 200px;
  height: 50px;
  background: #c94146;
  color: #fff;
  float: right; }

.contact-map {
  margin-bottom: 30px; }

.contacts {
  margin-bottom: 80px; }

.card-header > div:first-child, .card-body > div:first-child {
  width: 17%; }

.card-header > div:nth-child(2), .card-body > div:nth-child(2) {
  width: 28%; }

.card-header > div:nth-child(3), .card-body > div:nth-child(3) {
  width: 15%; }

.card-header > div:nth-child(4), .card-body > div:nth-child(4) {
  width: 15%; }

.card-header > div:nth-child(5), .card-body > div:nth-child(5) {
  width: 15%; }

.card-header > div:nth-child(6), .card-body > div:nth-child(6) {
  width: 10%; }

.card-body {
  padding: 20px 0px;
  border-bottom: 1px solid #ebebeb;
  align-items: center; }
  .card-body__second {
    margin: 18px 0px;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 0px 24px;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
    background: #fafafa; }
    .card-body__second input {
      width: 36px;
      height: 36px;
      background: #fff;
      border: 1px solid #ebebeb;
      border-radius: 10px;
      text-align: center;
      margin: 0 auto; }
    .card-body__second > div {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      padding: 20px 0px;
      justify-content: center; }
      .card-body__second > div:first-child {
        width: 40%; }
      .card-body__second > div:nth-child(2) {
        width: 18%; }
      .card-body__second > div:nth-child(3) {
        width: 12%; }
      .card-body__second > div:nth-child(4) {
        width: 18%; }
      .card-body__second > div:nth-child(5) {
        width: 10%;
        border-right: 0px; }
  .card-body .card-list-title h4 {
    margin: 0px;
    margin-top: 14px;
    font-size: 16px; }
  .card-body .card-list-title .card-title-list-descr {
    font-size: 13px;
    margin-top: 15px;
    font-weight: 700; }
    .card-body .card-list-title .card-title-list-descr p {
      margin: 10px 0px; }
    .card-body .card-list-title .card-title-list-descr span {
      display: inline-block;
      width: 70px;
      font-weight: 400; }
  .card-body .card-list-price {
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase; }
    .card-body .card-list-price span {
      font-size: 13px; }
  .card-body .catd-list-qwt input {
    width: 48px;
    height: 48px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    text-align: center;
    margin-left: 10px; }

a.card-list-delete {
  color: #c94146;
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px dashed #c94146; }

.card-header {
  padding: 18px 0px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  padding-top: 20px;
  margin-top: 38px;
  margin-bottom: 10px; }
  .card-header__second {
    padding: 18px 0px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    padding-top: 20px;
    margin-top: 38px;
    margin-bottom: 10px; }
    .card-header__second > div {
      text-align: center; }
      .card-header__second > div:first-child {
        width: 40%; }
      .card-header__second > div:nth-child(2) {
        width: 17%; }
      .card-header__second > div:nth-child(3) {
        width: 10%; }
      .card-header__second > div:nth-child(4) {
        width: 17%; }
      .card-header__second > div:nth-child(5) {
        width: 12%; }

.card-list-img img {
  width: 85%;
  border-radius: 10px; }

.card-list-footer-1 {
  padding: 33px 0px;
  align-items: center; }

.card-list__total {
  font-size: 24px;
  font-weight: 700; }
  .card-list__total span {
    font-size: 16px;
    text-transform: uppercase; }

.btn.btn__print {
  background: url(../img/icon-print.png) no-repeat 90% 50%;
  padding-right: 60px;
  color: #252525;
  padding-left: 23px;
  text-decoration: none;
  border: 1px solid #ebebeb; }

.card-list-footer-2 {
  padding-bottom: 80px;
  justify-content: flex-end;
  align-items: center; }
  .card-list-footer-2 .btn.btn__blue {
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 0px;
    font-weight: 700;
    cursor: pointer; }
  .card-list-footer-2 .card-list-rulse-text {
    font-size: 13px;
    margin-right: 30px;
    text-align: left;
    max-width: 250px;
    line-height: 150%; }
    .card-list-footer-2 .card-list-rulse-text a {
      color: red;
      text-decoration: none; }

.right-sidebar {
  width: 270px;
  background: #f8f8f8;
  padding-top: 35px;
  padding-left: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 70px;
  position: relative; }
  .right-sidebar a {
    display: block;
    margin-bottom: 30px; }
    .right-sidebar a:last-child {
      margin-bottom: 0px; }
    .right-sidebar a img {
      border-radius: 10px; }
  .right-sidebar:after {
    content: "";
    background: #f8f8f8;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 1000%;
    right: -9999px;
    left: 100%; }

.list-articles__conteiner {
  margin: 35px 0px;
  margin-bottom: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }
  .list-articles__conteiner .list-article {
    display: block;
    max-width: 270px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    color: #212121;
    padding: 20px 0px;
    margin-right: 30px;
    transition: all .2s; }
    .list-articles__conteiner .list-article:last-child {
      margin-right: 0px; }
    .list-articles__conteiner .list-article:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
    .list-articles__conteiner .list-article .list-article__img img {
      border-radius: 0px 10px 10px 0px;
      max-width: 100%; }
    .list-articles__conteiner .list-article h4 {
      margin: 16px 30px;
      font-size: 19px;
      font-weight: 700;
      line-height: 140%; }
    .list-articles__conteiner .list-article p {
      margin: 16px 30px;
      font-size: 13px;
      line-height: 140%;
      text-align: justify;
      margin-bottom: 0px; }

.order-container {
  margin-bottom: 70px; }
  .order-container h2 {
    margin-top: 30px; }
  .order-container .order-sidebar {
    width: 270px;
    margin-top: 30px; }
    .order-container .order-sidebar .accept-order-block {
      background: url(../img/blue-texture.jpg);
      color: #fff;
      border-radius: 10px;
      padding: 25.5px 30px; }
    .order-container .order-sidebar .accept-order__title {
      font-size: 24px;
      font-weight: 900;
      margin-bottom: 25px;
      line-height: 130%; }
    .order-container .order-sidebar .accept-order__row {
      padding: 18px 0px;
      border-top: 1px solid #4b6fa5;
      border-bottom: 1px solid #4b6fa5; }
    .order-container .order-sidebar .accept-order__list {
      align-items: center;
      margin-bottom: 8px; }
      .order-container .order-sidebar .accept-order__list:last-child {
        margin-bottom: 0px; }
    .order-container .order-sidebar .accept-order__list div:first-child, .order-container .order-sidebar .accept-order__total-row > div:first-child {
      font-size: 13px; }
    .order-container .order-sidebar .accept-order__list div:last-child, .order-container .order-sidebar .accept-order__total-row > div:last-child {
      font-size: 16px;
      font-weight: 700; }
      .order-container .order-sidebar .accept-order__list div:last-child span, .order-container .order-sidebar .accept-order__total-row > div:last-child span {
        text-transform: uppercase;
        font-size: 13px; }
    .order-container .order-sidebar .accept-order__total-row {
      margin-top: 25px;
      line-height: 100%; }
    .order-container .order-sidebar .btn.btn__red {
      width: 100%;
      margin: 30px 0px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 13px; }
  .order-container .content {
    width: 100%; }
    .order-container .content .main-form-order {
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      padding: 26px 0px;
      padding-bottom: 40px;
      margin-bottom: 30px; }
      .order-container .content .main-form-order h2 {
        margin: 0px;
        font-size: 24px; }
      .order-container .content .main-form-order form {
        flex-wrap: wrap; }
        .order-container .content .main-form-order form > div {
          margin-top: 25px;
          width: 48%; }
          .order-container .content .main-form-order form > div:nth-last-child(2), .order-container .content .main-form-order form > div:nth-last-child(1) {
            width: 23%; }
        .order-container .content .main-form-order form label {
          display: block;
          margin-bottom: 10px;
          font-size: 16px; }
        .order-container .content .main-form-order form input {
          display: block;
          height: 50px;
          font-size: 13px;
          border: 1px solid #ebebeb;
          border-radius: 6px;
          padding: 0px 15px;
          width: 100%; }
    .order-container .content .container-pay, .order-container .content .container-deverly {
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 40px; }
    @media (max-width: 768px) {
      .order-container .content .container-pay .label-select-container > div span {
        padding-top: 8px; } }
  .order-container .order-nav-btns .btn.btn__trainsperd {
    color: #1e4b8e;
    border-radius: 6px;
    border: 2px solid #1e4b8e;
    width: 200px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase; }
  .order-container .order-nav-btns .btn.btn__blue {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
    width: 200px; }
  .order-container .order-nav-btns {
    padding: 30px 0px;
    align-items: center; }

.disabled {
  opacity: 0.6;
  pointer-events: none; }

.flex-end {
  justify-content: flex-end; }

.order-select-step {
  border-bottom: 1px solid #ebebeb;
  padding: 26px 0px; }
  .order-select-step h2 {
    margin-top: 0px; }

.label-select-container > div {
  background: url(../img/texture.jpg);
  border-radius: 10px;
  color: #212121;
  max-width: 270px;
  border: 1px solid #ebebeb;
  padding: 10px;
  position: relative;
  min-height: 100px;
  width: 100%;
  margin-right: 30px; }
  .label-select-container > div:last-child {
    margin-right: 0px; }
  .label-select-container > div label.radio-label {
    width: auto;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    font-weight: 300;
    padding-left: 25px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    display: block; }
  .label-select-container > div .radio-label:before {
    content: '';
    width: 14px;
    height: 14px;
    margin-right: 10px;
    background: none;
    border: 1px solid #fff;
    border-radius: 2px;
    position: absolute;
    left: 0;
    padding: 0;
    top: 3px;
    display: block;
    box-shadow: inset 0 0 0 2px #c94146; }
  .label-select-container > div input[type='radio'] {
    opacity: 0;
    visibility: hidden;
    position: absolute; }
  .label-select-container > div span {
    padding-top: 10px;
    display: block;
    margin-left: 7%;
    line-height: 140%; }
    .label-select-container > div span span {
      margin: 0px;
      font-size: 11px;
      font-weight: 400;
      padding: 0px; }
  .label-select-container > div span img {
    position: absolute;
    top: 5px;
    right: 20px; }
  .label-select-container > div label.radio-label {
    color: #212121;
    font-size: 16px;
    font-weight: 700; }
  .label-select-container > div .radio-label:before {
    border: 1px solid #ebebeb;
    box-shadow: inset 0 0 0 3px #fff;
    background: #fff;
    width: 20px;
    height: 20px;
    top: 18px;
    left: 5px; }
  .label-select-container > div .radio-label.active:before {
    background: #c94146;
    width: 20px;
    height: 20px; }

.label-select-container {
  margin-bottom: 15px; }

.label-select-container > div.label-text {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 300;
  max-width: 350px;
  width: auto;
  opacity: 0.5;
  line-height: 150%; }

.order-comment {
  width: calc(100% - 300px); }
  @media (max-width: 768px) {
    .order-comment {
      width: 100%; } }
  .order-comment a.btn.btn__grey {
    max-width: 200px;
    background: #f8f8f8;
    border: 1px solid #ededed;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px; }
    .order-comment a.btn.btn__grey:hover {
      opacity: 0.85; }

.label-select-container > .label-select-deverly span {
  padding-top: 0px; }

.no-border-bottom {
  border-bottom: 0px; }

.order-select-step textarea {
  font-family: 'Gotham Pro', sans-serif;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 20px;
  height: 220px; }

.card-mobile, .mobile-param-filter {
  display: none; }

.card__icon span {
  display: none; }

.container-modal {
  padding: 30px; }
  .container-modal .modal-form-header {
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 80%; }
  .container-modal input {
    max-width: 340px;
    margin: 0 auto;
    width: 100%;
    border-radius: 6px;
    padding: 0px 15px;
    font-size: 14px;
    margin-bottom: 15px;
    height: 50px;
    border: 1px solid #ebebeb; }
  .container-modal input[type='submit'] {
    background: #2e5792;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: all .2s; }
    .container-modal input[type='submit']:hover {
      opacity: 0.85; }

.remodal.no-back {
  background: none; }

.remodal.no-back .remodal-close:before {
  background: url(../img/close-white.svg) no-repeat;
  background-size: 100%; }

.login-container {
  max-width: 100%;
  margin: 0px auto;
  background: #f8f8f8;
  border-radius: 10px;
  text-align: left; }
  .login-container .login-head {
    height: 80px;
    background: url(../img/blue-texture.jpg);
    color: #fff;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden; }
    .login-container .login-head a {
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      color: #fff;
      text-decoration: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: initial;
      transition: all .2s; }
      .login-container .login-head a.active {
        background: #c94146;
        pointer-events: none; }
      .login-container .login-head a:hover {
        background: #c94146;
        opacity: 0.85; }
  .login-container .form-login {
    padding: 15px 30px; }
    .login-container .form-login label {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      text-align: left; }
    .login-container .form-login input {
      height: 50px;
      width: 100%;
      border: 1px solid #ededed;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 0px 15px;
      font-size: 12px;
      text-align: left; }
    .login-container .form-login .show-pass {
      position: absolute;
      bottom: 15px;
      right: 20px;
      cursor: pointer;
      padding-left: 30px;
      z-index: 2; }
      .login-container .form-login .show-pass input {
        height: 20px;
        left: 0px; }
      .login-container .form-login .show-pass span {
        font-size: 12px; }
  .login-container .form-login p {
    position: relative; }
  .login-container .forget-pass {
    position: absolute;
    right: 0px;
    font-size: 12px;
    color: #3e7ef3;
    text-decoration: none; }
  .login-container .login-enter {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    font-weight: 500;
    width: 200px; }
    .login-container .login-enter:disabled {
      background: #666;
      cursor: default; }
      .login-container .login-enter:disabled:hover {
        opacity: 1; }

.show-pass:before, .login-label:before {
  content: '';
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: none;
  border: 1px solid #ededed;
  border-radius: 2px;
  position: absolute;
  left: 0px;
  background: #fff;
  padding: 0;
  top: 0px;
  display: block;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 4px; }

.show-pass.active:before, .login-label.active:before {
  background: #c94146;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  box-shadow: none; }

.login-label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  z-index: 2; }
  .login-label input {
    height: auto;
    left: 0px; }
  .login-label span {
    font-size: 12px; }
    .login-label span a {
      color: #3e7ef3;
      text-decoration: none;
      z-index: 2;
      position: relative; }

.enter-block__link.auth__true {
  position: relative; }
  .enter-block__link.auth__true > a {
    background: url(../img/icon-select.png) no-repeat 100% 50%;
    padding-right: 30px;
    white-space: nowrap; }
    .enter-block__link.auth__true > a:hover {
      color: #252525;
      opacity: 0.85; }
  .enter-block__link.auth__true:hover .personal-dropdown {
    opacity: 1;
    visibility: visible; }
  .enter-block__link.auth__true .personal-dropdown {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 28px;
    right: 0px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ededed;
    padding: 0px 20px;
    z-index: 99;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: .2s ease-out;
    -webkit-transition-delay: 0.5s;
    -o-transition: .2s ease-out;
    -o-transition-delay: 0.3s;
    -moz-transition: .2s ease-out;
    -moz-transition-delay: 0.3s;
    transition: .2s ease-out;
    transition-delay: 0.3s; }
    .enter-block__link.auth__true .personal-dropdown:before {
      content: '';
      background: url(../img/dropdown-personal-before.png) no-repeat;
      width: 26px;
      height: 15px;
      position: absolute;
      top: -12px;
      left: 50%;
      margin-left: -15px; }
    .enter-block__link.auth__true .personal-dropdown a {
      white-space: nowrap;
      display: block;
      font-size: 12px;
      font-weight: 400;
      margin: 15px 0px; }

#img {
  position: relative; }

#img:hover:before {
  content: '';
  background: url(../img/icon-search.png) no-repeat center;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  right: 0px; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.quantity-block {
  margin: auto; }

.quantity-arrow-minus,
.quantity-arrow-plus {
  cursor: pointer;
  font-size: 16px;
  padding: 5px 2px;
  width: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  margin: 0px 5px;
  border: 1px solid #ebebeb; }

.order-succes {
  background: #f8f8f8;
  max-width: 770px;
  margin: 150px auto;
  padding: 66px 20px;
  text-align: center; }
  @media (max-width: 768px) {
    .order-succes {
      margin: 50px auto; } }
  .order-succes h1 {
    margin-top: 0px;
    font-size: 37px;
    font-weight: 900; }
  .order-succes p {
    font-size: 14px;
    line-height: 200%; }
    @media (max-width: 768px) {
      .order-succes p {
        line-height: 150%; } }
    .order-succes p a {
      color: #c94146;
      font-weight: 500;
      text-decoration: none; }
  .order-succes a.btn.btn__blue {
    max-width: 230px;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase; }

.-wrap {
  flex-wrap: wrap; }

.personal__sidebar {
  width: 370px; }
  @media (max-width: 768px) {
    .personal__sidebar {
      width: 100%; } }
  @media (min-width: 500px) and (max-width: 992px) {
    .personal__sidebar {
      display: flex;
      justify-content: space-between; } }

.personal__data {
  border: 1px solid #ededed;
  border-radius: 10px;
  margin-bottom: 30px; }
  @media (min-width: 500px) and (max-width: 992px) {
    .personal__data {
      width: 48%; } }
  .personal__data__header {
    height: 60px;
    background: #1e4b8e;
    padding-left: 68px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px 10px 0px 0px; }
    .personal__data__header.-data-header-user {
      background: url(../img/personal-user.png) no-repeat #1e4b8e 18px 14px; }
    .personal__data__header.-data-header-pass {
      background: url(../img/personal-pass.png) no-repeat #1e4b8e 25px 14px; }
    @media (max-width: 768px) {
      .personal__data__header {
        font-size: 15px; } }
  .personal__data__content {
    padding: 30px;
    font-size: 14px; }
    @media (max-width: 768px) {
      .personal__data__content {
        padding: 10px;
        font-size: 13px; } }
    .personal__data__content table {
      border: none;
      border-spacing: 0px; }
      .personal__data__content table td {
        padding-bottom: 10px; }
    .personal__data__content span {
      opacity: 0.5;
      min-width: 115px;
      display: inline-block; }
    .personal__data__content a.btn.btn__grey.-grey {
      float: right;
      margin-top: 15px; }
    .personal__data__content:after {
      content: '';
      clear: both;
      display: block; }
    .personal__data__content input {
      width: 100%;
      height: 50px;
      padding: 0px 15px;
      border: 1px solid #ededed;
      border-radius: 10px;
      margin-bottom: 10px; }

.personal .content {
  width: calc(100% - 400px); }
  @media (max-width: 768px) {
    .personal .content {
      width: 100%; } }

.personal__story {
  width: 100%; }
  .personal__story__header {
    background: url(../img/personal-story.png) no-repeat #1e4b8e 25px 14px;
    padding-left: 68px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px; }
  .personal__story__item {
    border: 1px solid #ededed;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden; }
    .personal__story__item .hider {
      padding: 20px 30px;
      border-top: 1px solid #ededed; }
      @media (max-width: 500px) {
        .personal__story__item .hider {
          padding: 20px 15px; } }
      .personal__story__item .hider-row {
        margin-bottom: 10px;
        line-height: 140%;
        font-size: 14px; }
        @media (max-width: 500px) {
          .personal__story__item .hider-row {
            border-bottom: 1px solid #f8f8f8;
            padding-bottom: 10px; } }
        .personal__story__item .hider-row:last-child {
          margin-bottom: 0px; }
          @media (max-width: 500px) {
            .personal__story__item .hider-row:last-child {
              border: none;
              padding-bottom: 0px;
              margin-bottom: 0px; } }
        .personal__story__item .hider-row div:first-child {
          width: 55%; }
          @media (max-width: 500px) {
            .personal__story__item .hider-row div:first-child {
              width: 100%;
              margin-bottom: 10px; } }
          .personal__story__item .hider-row div:first-child span {
            width: 15px;
            display: block;
            font-weight: 700; }
          .personal__story__item .hider-row div:first-child a {
            width: calc(100% - 20px);
            display: block;
            text-decoration: none;
            color: #1e4b8e; }
        .personal__story__item .hider-row div:nth-child(2), .personal__story__item .hider-row div:nth-child(3) {
          width: 20%;
          font-weight: 700; }
          @media (max-width: 500px) {
            .personal__story__item .hider-row div:nth-child(2), .personal__story__item .hider-row div:nth-child(3) {
              width: 48%; } }
          .personal__story__item .hider-row div:nth-child(2) span, .personal__story__item .hider-row div:nth-child(3) span {
            font-weight: 400;
            display: inline-block;
            padding-left: 7px; }
  .personal__story__head {
    background: #fbfbfb;
    padding: 15px 30px;
    border-radius: 10px 10px 0px 0px;
    font-weight: 700;
    font-size: 14px; }
    @media (max-width: 500px) {
      .personal__story__head {
        padding: 10px; } }
    @media (max-width: 500px) {
      .personal__story__head div {
        margin-bottom: 10px; } }
    .personal__story__head div span {
      font-weight: 400;
      display: inline-block;
      padding-left: 10px; }
    .personal__story__head .personal-opener-hidder {
      font-weight: 400;
      cursor: pointer;
      color: #1e4b8e;
      padding-right: 30px;
      position: relative; }
      @media (max-width: 500px) {
        .personal__story__head .personal-opener-hidder {
          width: 100%;
          text-align: right;
          margin: 10px 0px; } }
      .personal__story__head .personal-opener-hidder.active:after {
        background: url(../img/personal-drop-arr.png) no-repeat;
        transform: rotate(0deg); }
      .personal__story__head .personal-opener-hidder:after {
        background: url(../img/personal-drop-arr.png) no-repeat;
        position: absolute;
        right: 0px;
        content: '';
        display: block;
        width: 10px;
        top: 5px;
        height: 8px;
        transition: all .2s;
        transform: rotate(180deg); }

a.btn.btn__grey.-grey {
  display: inline-block;
  padding: 0px 15px;
  width: auto;
  background: #f8f8f8;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
