<div class="card-body flex-col">
    <div class="card-list-img"><img src="{{item.image|default('/img/no_image.png')}}" alt=""></div>
    <div class="card-list-title">
        <h4><a class="item_name" href="/product/{{ item.goodId }}" target="_blank">{{item.name}}</a></h4>
        <div class="card-title-list-descr">
            {% for field in item.fields %}
                <p>
                    <span>{{field.fieldName}}: </span> {{ field.fieldValue }} {{ field.fieldItem }}
                </p>
            {% endfor %}
        </div>
    </div>
    <input type="hidden" class="product_id" value="{{ item.goodId }}">
    <div class="card-list-price"><span class="item_price"style="font-size: 100%;">{{item.price}}</span> <span>руб.</span></div>
    <div class="catd-list-qwt"><input type="number" class="product_count" value="{{item.count}}"></div>
    <div class="card-list-price"><span class="item_total_price"style="font-size: 100%;">{{ item.price*item.count }}</span> <span>руб.</span></div>
    <div><a class="card-list-delete" href="#">Удалить</a></div>
</div>
