<div class="fullwidth">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#">Главная</a>
            <span>Корзина</span>
        </div>
        <div class="card-list">
            <h1>Корзина</h1>
            <div class="card-header flex-col">
                <div></div>
                <div>Наименование товара</div>
                <div>Цена</div>
                <div>Количество</div>
                <div>Стоимость</div>
                <div></div>
            </div>
            {% for item in items %}
                {{ item|raw }}
            {% endfor %}
            <div class="card-list-footer-1 flex-col">
                <a href="#" class="btn btn__print">Печать заказа</a>
                <div class="card-list__total">Итого: <span id="card_total_price" style="font-size: 100%">{{totalPrice}}</span>  <span>руб.</span></div>
            </div>
            <div class="card-list-footer-2 flex-col">
                <div class="card-list-rulse-text">Обратите внимание <br>
                    на <a href="#">условия заказа и оплаты товара </a></div>
                <a class="btn btn__blue" href="/order">Оформить заказ</a>
            </div>
        </div>
    </div>
</div>
