<div>
    <label for="categoryLevel">
        Уровень
        <select id="categoryLevel" class="form-control">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </label>
    <br>
    <label for="categoryParent">
        Родительская категория
        <select id="categoryParent" class="form-control">
        </select>
    </label>
    <br>
    <label for="categoryName">
        Название категории
        <input id="categoryName" type="text" class="form-control">
    </label>
    <br>
    <button id="categorySave" class="btn btn-info">Сохранить</button>
</div>