<form id="categoryData">
<table class="table">
    <tbody>
    <tr>
        <td style="font-weight: bold">Имя категории</td>
        <td style="font-weight: bold">Вес (сейчас {{ category.categoryWeight|default(0) }})</td>
        <td></td>
    </tr>
    <tr>
        <td>
            <input type="text" class="form-control" id="categoryName" value="{{ category.categoryName }}">
            <input type="hidden" id="_id" value="{{ category._id }}">
        </td>
        <td>
            <select id="categoryWeight">
                <option value="0" selected>По умолчанию</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </td>
        <td>
            <button class="btn btn-info" id="saveCategoryChanges"><i class="fa fa-save"></i> Сохранить изменения</button>
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">Изображение категории</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="input-group" style="margin-bottom: 10px; width: 400px;">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileLangHTML" name="categoryFile">
                    <label class="custom-file-label" for="customFileLangHTML" data-browse="Заменить изображение">...</label>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</form>
<div id="categoryImage">
    <img src="/upload/category/{{ category.categoryFileName|default('') }}">
</div>
<br>
<button class="btn btn-warning" id="removeCategory" style="margin-top: 8px;"><i class="fa fa-trash"></i> Удалить категорию</button>
