<div style="width: 600px;">
    <form id="sliderAddItem">
        <label for="header1" style="width: 100%;">
            Заголовок 1
            <input type="text" id="header1" name="header1" class="form-control">
        </label><br>
        <label for="header2" style="width: 100%;">
            Заголовок 2
            <input type="text" id="header2" name="header2" class="form-control" style="width: 100%;">
        </label><br>
        <label for="link" style="width: 100%;">
            Ссылка
            <input type="text" id="link" name="link" class="form-control" style="width: 100%;">
        </label>
        <h6 style="font-weight: bold;">Файл изображения</h6>
        <div class="input-group" style="margin-bottom: 10px;">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLangHTML" name="sliderFile">
                <label class="custom-file-label" for="customFileLangHTML" data-browse="Выберите файл">...</label>
            </div>
        </div>
        <div id="slider_img"></div>
        <input type="submit" value="Добавить слайдер" id="submitSliderData" class="btn btn-info">
    </form>
</div>
