<h5>
    <a href="/admin/slider/add">Добавить слайдер</a>
</h5>
<table class="table table-striped" style="width: auto;">
    <tbody>
    {% for id, slider in sliders %}
        <tr>
            <td>
                <a href="{{ id }}">{{ slider.header1 }}</a>
            </td>
            <td>
                <a href="/upload/slider/{{ slider.fileName }}">
                    <img src="/upload/slider/{{ slider.fileName }}" style="height: 200px;">
                </a>
            </td>
            <td>
                <a href="/admin/slider/remove/{{ id }}" class="removeSlider">
                    <i class="fa fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
