<table class="table table-bordered table-condensed table-striped table-hover" style="width: auto;">
    <thead>
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Стоимость</th>
        <th>Тип доставки</th>
        <th>Общая стоимость</th>
        <th>Время заказа</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td><a href="/admin/single_order/{{order.orderId}}">
                    {{order.orderId}}
                </a>
            </td>
            <td>{{order.fio}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.total_price}}</td>
            <td>{{order.delivery_type}}</td>
            <td>{{order.whole_price}}</td>
            <td>{{order.time_stamp|date('Y/m/d H:i')}}</td>
            <td>{{order.status}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>