<div class="fullwidth">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#">Главная</a>
            <span>Оформление заказа</span>
        </div>

        <div class="order-container flex-col">
            <div class="content">
                <h1>Оформление заказа</h1>
                <div class="main-form-order">
                    <h2>Укажите Ваши персональные данные</h2>
                    <form action="#" class="flex-col">
                        <div>
                            <label for="order-phone">Телефон* (для авторизации)</label>
                            <input id="order-phone" type="text" value="{{ user_data.phone|default('') }}">
                        </div>
                        <div>
                            <label for="order-fio">Ваше имя и фамилия *</label>
                            <input id="order-fio" type="text" value="{{ user_data.fio|default('') }}">
                        </div>
                        <div>
                            <label for="order-email">E-mail *</label>
                            <input id="order-email" type="text" value="{{ user_data.email|default('') }}">
                        </div>
                        <div>
                            <label for="order-city">Город</label>
                            <input id="order-city" type="text" value="{{ user_data.city|default('') }}">
                        </div>
                        <div>
                            <label for="order-street">Улица</label>
                            <input id="order-street" type="text" value="{{ user_data.street|default('') }}">
                        </div>
                        <div>
                            <label for="order-house">Дом</label>
                            <input id="order-house" type="text" value="{{ user_data.house|default('') }}">
                        </div>
                        <div>
                            <label for="order-flat">Квартира</label>
                            <input id="order-flat" type="text" value="{{ user_data.flat|default('') }}">
                        </div>
                    </form>
                </div>
                <div class="">
                    <h2>Выберите способ оплаты</h2>

                    <div class="label-select-container flex-col flex-start">
                        <div class="label-select-pay">
                            <label class="radio-label active" for="cash-pay">
                                <input required="" id="cash-pay" checked name="select-pay" type="radio"
                                       data-type="Наличный расчет">
                                <span>Наличный<br>расчет <img src="/img/icon-money.png" alt=""></span>
                            </label>
                        </div>
                        <div class="label-select-pay">
                            <label class="radio-label" for="beznal-pay">
                                <input required="" id="beznal-pay" name="select-pay" type="radio"
                                       data-type="Безналичный расчет">
                                <span>Безналичный<br>расчет<img src="/img/icon-beznal.png" alt=""></span>
                            </label>
                        </div>
                        <div class="label-select-pay">
                            <label class="radio-label" for="card-pay">
                                <input required="" id="card-pay" name="select-pay" type="radio"
                                       data-type="Банковской картой">
                                <span>Банковской<br>картой<img src="/img/icon-debet-card.png" alt=""></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="">
                    <h2>Выберите способ доставки</h2>

                    <div class="label-select-container flex-col flex-start">
                        <div class="label-select-deverly">
                            <label class="radio-label active" for="samovivoz-deverly">
                                <input required="" id="samovivoz-deverly" checked name="select-deverly" type="radio"
                                       data-price="0" data-type="Самовывоз">
                                <span>Самовывоз<br> из магазина<span>Стоимость: 0 руб.</span> <img
                                            src="/img/icon-samovivoz.png" alt=""></span>
                            </label>
                        </div>
                        <div class="label-select-deverly">
                            <label class="radio-label" for="courier-deverly">
                                <input required="" id="courier-deverly" name="select-deverly" type="radio"
                                       data-price="250" data-type="Курьером">
                                <span>Доставка<br>курьером <span>Стоимость: 250 руб.</span> <img
                                            src="/img/icon-courier.png" alt=""></span>
                            </label>
                        </div>
                        <div class="label-select-deverly">
                            <label class="radio-label" for="transport-deverly">
                                <input required="" id="transport-deverly" name="select-deverly" type="radio"
                                       data-price="300" data-type="ТК">
                                <span>Транспортная<br> компания <span>Стоимость: 300 руб.</span><img src="/img/icon-transport.png" alt=""></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class=" flex-col flex-end">
                    <a class="btn btn__blue" id="btn-succes-order">Подтвердить заказ</a>
                </div>
                <div class="order-select-step no-border-bottom">
                    <h2>Оставьте комментарий к заказу</h2>
                    <textarea placeholder="Ваш комментарий ..."></textarea>
                </div>

            </div>
            <div class="order-sidebar">
                <div class="accept-order-block">
                    <div class="accept-order__title">Подтвердить заказ</div>
                    <div class="accept-order__row">
                        <div class="accept-order__list flex-col">
                            <div>Итого:</div>
                            <div><span id="total_price" style="font-size: 100%;">{{total_price}}</span> <span>руб.</span></div>
                        </div>
                        <div class="accept-order__list flex-col">
                            <div>Доставка:</div>
                            <div><span id="delivery_cost" style="font-size: 100%;">0</span> <span>руб.</span></div>
                        </div>
                    </div>
                    <div class="accept-order__total-row flex-col">
                        <div>Сумма:</div>
                        <div><span id="whole_price" style="font-size: 100%;">{{total_price}}</span> <span>руб.</span></div>
                    </div>
                </div>

{#
                <a href="#" class="btn btn__red disabled" id="order-complite">Оформить заказ</a>
#}
            </div>
        </div>
    </div>
</div>
