<table class="table" style="width: auto;">
    <thead>
    <tr>
        <th>Статус</th>
        <th>Изменить</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ order.status }}</td>
        <td><select id="order_status_change">
                <option value="" selected disabled>Выберите статус</option>
                <option value="Новый">Новый</option>
                <option value="Принят">Принят</option>
                <option value="Обработан">Обработан</option>
                <option value="Отправлен">Отправлен</option>
                <option value="Отклонен">Отклонен</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>
<h5>Товары</h5>
<table class="table table-bordered table-condensed table-striped table-hover" style="width: auto;">
    <thead>
    <tr>
        <th>Артикул</th>
        <th>Название</th>
        <th>Цена, р.</th>
        <th>Кол-во</th>
        <th>Всего, р.</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.order_items %}
        <tr>
            <td>{{ item.articul }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.product_count }}</td>
            <td>{{ item.item_price }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
<h5>Клиент</h5>
<table class="table table-bordered table-condensed table-striped table-hover" style="width: auto;">
    <tbody>
    <tr>
        <td>Order ID</td>
        <td>{{ order.orderId }}</td>
    </tr>
    <tr>
        <td>ФИО</td>
        <td>{{ order.fio }}</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td>{{ order.phone }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ order.email }}</td>
    </tr>
    <tr>
        <td>Город</td>
        <td>{{ order.city|default('') }}</td>
    </tr>
    <tr>
        <td>Улица</td>
        <td>{{ order.street|default('') }}</td>
    </tr>
    <tr>
        <td>Дом</td>
        <td>{{ order.house|default('') }}</td>
    </tr>
    <tr>
        <td>Квартира</td>
        <td>{{ order.flat|default('') }}</td>
    </tr>
    <tr>
        <td>Тип доставки</td>
        <td>{{ order.delivery_type }}</td>
    </tr>
    <tr>
        <td>Тип оплаты</td>
        <td>{{ order.pay_type }}</td>
    </tr>
    <tr>
        <td>Стоимость заказа</td>
        <td>{{ order.total_price }}</td>
    </tr>
    <tr>
        <td>Стоимость доставки</td>
        <td>{{ order.delivery_cost }}</td>
    </tr>
    <tr>
        <td>Общая цена</td>
        <td>{{ order.whole_price }}</td>
    </tr>
    </tbody>
</table>
