<div class="fullwidth">
    <div class="container">
        <div class="contacts">

            <div class="order-succes">
                <h1>Спасибо за ваш заказ!</h1>
                <p>Ваш заказ успешно оформлен. Наш менеджер свяжется с вами в ближайшее время.<br>
                    Номер вашего заказа <span style="font-size: 150%; font-weight: bold">{{order_id}}</span>.</p>
                <a href="/" class="btn btn__blue">Вернуться в магазин</a>
            </div>

        </div>
    </div>
</div>
