    <div class="title-flex-block">
        <div class="title">{{category_name}}</div>
    </div>
    <div class="catalog-filter flex-col">
        <div class="catalog-filter__search">
            <form action="#">
                <input type="search" placeholder="Введите код или название товара">
                <input type="submit" value="">
            </form>
        </div>
        <select id="order">
            <option value="" disabled selected>Сортировка по:</option>
            <option value="">Популярность</option>
            <option value="price">Цена</option>
        </select>
        <div class="catalog-filter__view flex-col">
            <select>
                <option value="">12</option>
                <option value="">6</option>
            </select>
            <div class="catalog-view__block">
                <a href="#" class="block-view "></a>
                <a href="#" class="list-view active"></a>
            </div>
        </div>
    </div>

    <div class="list-catalog-header flex-col">
        <div>Артикул и наименование товара</div>
        <div>Аналоги товара</div>
        <div>Цена, руб</div>
        <div>Тип цены</div>
        <div>Наличие</div>
        <div>Кол-во</div>
        <div></div>
    </div>
    {% for product in products %}
    <div class="list-catalog-body flex-col" data-id="{{ product.goodId }}">
        <div>
            <div class="acticul-name__item">
                <span class="articule"><a href="/find?search={{ product.articul }}">{{ product.articul }}</a></span>
                <a href="/product/{{ product.goodId }}">{{product.name}}</a>
            </div>
        </div>
        <div>
            <div class="analogs-product">
                {{ product.analog|raw }}
            </div>
        </div>
        <div>
            <div class="list-catalog__price">{{product.price|default('')}} </div>
        </div>
        <div>
            <div class="type-sell__item">Розница</div>
        </div>
        <div>
            <div class="catalog-list__instok many"></div>
        </div>
        <div>
            <div class="quantity-block flex-col">
                <button class="quantity-arrow-minus"> - </button>
                <input class="quantity-num" type="number" value="1" />
                <button class="quantity-arrow-plus"> + </button>
            </div>
        </div>
        <div><a href="{{ product.goodId }}" class="buy-btn-catalog"></a></div>
    </div>
    {% endfor %}
    <div class="footer-catalog-list flex-col">
        <div class="catalog-list__summ">
            Всего: <span id="total_count">{{total_count}}</span>
        </div>
        {{ paginator|raw }}
    </div>
