    <h1>{{product.name}}</h1>
    <div class="product-main flex-col">
        <div class="product__gallery">
            <img id="img-main" src="/{{ product.image|default('img/no_image.png') }}">
        </div>
        <div class="product__controls">
            <div class="product__controls__instok flex-col">
                <div class="instok">Товар в наличии</div>
                <div class="product_brand"></div>
            </div>
            <div class="product__feature">
                <div class="product__feature__tilte">Характеристики:</div>
                <div class="product__feature__list">
                    {% for field in fields %}
                        <p>
                            <span>{{ field.fieldName }}</span>{{ field.fieldValue }} {{ field.fieldItem }}
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="product__card">
                <div class="product__card__row flex-col item-end">
                    <div class="product__card__price__name">стоимость:</div>
                    <div class="product__card__price">{{ product.price|default('') }} <span> руб.</span></div>
                </div>
                <div class="product__card__row flex-col">
                    <div class="product__card__qwt flex-col">
                        <div class="product__catd__qwt__name">кол-во:</div>
                        <input type="number" value="1" id="product_count">
                    </div>
                    <a class="btn btn__blue" href="{{product.goodId}}" id="buy_button">Купить</a>
                </div>
                <div class="product__card__row">
                    <a class="btn btn__grey" href="{{product.goodId}}" id="buy_button_1click">Купить в 1 клик</a>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-product">
        <div class="tabs">
            <ul class="tabs__caption">
                <li class="active">Описание</li>
                <li>Все характеристики</li>
            </ul>

            <div class="tabs__content  active">
                <p>
                    {{ product.description|default('') }}
                </p>

                {{ product_footer|raw }}
            </div>

            <div class="tabs__content">
                <div class="product__feature">
                    <div class="product__feature__list">
                        {% for field in fields %}
                            <p>
                                <span>{{ field.fieldName }}</span>{{ field.fieldValue }} {{ field.fieldItem }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="related-products">
        <div class="related-products__title">С этим товаром покупают</div>
        <div class="flex-col flex-start">
            <div class="bsi_item">
                <a href="#" class="bsi-favorite"></a>
                <div class="bsi__img"><img src="/img/products/1.jpg" alt=""></div>
                <div class="bsi__title">Обтекатель «FORD Transit» 2.3 м.</div>
                <div class="bsi__param">
                    <p><span>Модель:</span> <span>FORD transit</span></p>
                    <p><span>Тип:</span> <span>Стандарт</span></p>
                    <p><span>Размер:</span> <span>2.3 м</span></p>
                    <p><span>Цвет:</span> <span>Белый</span></p>
                    <div class="bsi__hover">
                        <a href="#" class="bsi__buy-button">Заказать</a>
                        <a href="#" class="bsi__buy-button">Купить</a>
                    </div>
                </div>
                <div class="bsi__price">7 390 <span>руб.</span></div>
                <div class="mobile-bsi">
                    <a href="#" class="bsi__buy-button">Заказать</a>
                    <a href="#" class="bsi__add-card"></a>
                </div>
            </div>
            <div class="bsi_item">
                <a href="#" class="bsi-favorite"></a>
                <div class="bsi__img"><img src="/img/products/1.jpg" alt=""></div>
                <div class="bsi__title">Обтекатель «FORD Transit» 2.3 м.</div>
                <div class="bsi__param">
                    <p><span>Модель:</span> <span>FORD transit</span></p>
                    <p><span>Тип:</span> <span>Стандарт</span></p>
                    <p><span>Размер:</span> <span>2.3 м</span></p>
                    <p><span>Цвет:</span> <span>Белый</span></p>
                    <div class="bsi__hover">
                        <a href="#" class="bsi__buy-button">Заказать</a>
                        <a href="#" class="bsi__buy-button">Купить</a>
                    </div>
                </div>
                <div class="bsi__price">7 390 <span>руб.</span></div>
                <div class="mobile-bsi">
                    <a href="#" class="bsi__buy-button">Заказать</a>
                    <a href="#" class="bsi__add-card"></a>
                </div>
            </div>
            <div class="bsi_item">
                <a href="#" class="bsi-favorite"></a>
                <div class="bsi__img"><img src="/img/products/1.jpg" alt=""></div>
                <div class="bsi__title">Обтекатель «FORD Transit» 2.3 м.</div>
                <div class="bsi__param">
                    <p><span>Модель:</span> <span>FORD transit</span></p>
                    <p><span>Тип:</span> <span>Стандарт</span></p>
                    <p><span>Размер:</span> <span>2.3 м</span></p>
                    <p><span>Цвет:</span> <span>Белый</span></p>
                    <div class="bsi__hover">
                        <a href="#" class="bsi__buy-button">Заказать</a>
                        <a href="#" class="bsi__buy-button">Купить</a>
                    </div>
                </div>
                <div class="bsi__price">7 390 <span>руб.</span></div>
                <div class="mobile-bsi">
                    <a href="#" class="bsi__buy-button">Заказать</a>
                    <a href="#" class="bsi__add-card"></a>
                </div>
            </div>
        </div>
    </div>
