<div class="title-flex-block">
    <div class="title">Каталог продукции</div>
    <a class="read-more" href="#">Смотреть все</a>
</div>
<div class="catalog-list-catalog flex-col">
    {% for category in categoriesLevel0 %}
        <a href="/category/{{ category.categoryId }}">
            <span><img src="/upload/category/{{ category.categoryFileName|default('') }}" alt=""></span>
            <div>{{ category.categoryName }}</div>
        </a>
    {% endfor %}
    <a href="#" class="catalog-banner">
        <img src="/img/catalog-banner.png" alt="">
    </a>
</div>
<div class="catalog-text">
    {{ seo_text_catalog|raw }}
</div>
