<table>
    <tbody>
    {% for category in child_categories %}
        <tr>
            <td>
                <a href="/category/{{ category.categoryId }}">{{ category.categoryName }}</a>
            </td>
            <td>
                {% if category.categoryFileName %}
                    <img src="/upload/category/{{category.categoryFileName}}" style="height: 50px">
                    {% else %}
                        <img src="/img/no_image.png" style="height: 50px">
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>