<tr class="addFieldRow">
    <td>
        <input class="form-control field-name">
    </td>
    <td>
        <input class="form-control field-value">
    </td>
    <td>
        <select class="form-control field-dataType">
            <option value="string">Строка</option>
            <option value="int">Целое число</option>
            <option value="float">Число с точкой</option>
        </select>
    </td>
    <td>
        <input class="form-control field-item">
    </td>
    <td>
        <i class="fa fa-trash removeField"></i>
    </td>
</tr>