<table class="table table-hover table-bordered table-condensed table-striped">
    <tbody>
    <tr>
        <td style="width: 100px;">Артикул</td>
        <td><input class="form-control" value="{{ product.articul }}" id="productId" disabled="disabled"></td>
    </tr>
    <tr>
        <td style="width: 100px;">Название</td>
        <td><input class="form-control" value="{{ product.name }}" id="name"></td>
    </tr>
    <tr>
        <td style="width: 100px;">Каталог</td>
        <td><input class="form-control" value="{{ product.rootCategory|default('') }}" id="rootCategory" disabled></td>
    </tr>
    <tr>
        <td><a href="#treeContentModal" rel="modal:open"> Категория</a></td>
        <td><input id="category" class="form-control" value="{{ product.group }}" disabled="disabled"></td>
    </tr>
    <tr>
        <td>Цена</td>
        <td><input class="form-control" value="{{ product.price|default('') }}" id="price"></td>
    </tr>
    <tr>
        <td>Описание</td>
        <td><textarea class="form-control" id="description">{{ product.description|default('') }}</textarea> </td>
    </tr>
    </tbody>
</table>
<form id="productImageForm">
    <div class="input-group" style="margin-bottom: 10px; width: 400px;">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFileLangHTML" name="categoryFile">
            <label class="custom-file-label" for="customFileLangHTML" data-browse="Добавить изображение">...</label>
        </div>
    </div>
</form>
<style>
    .productImage {
        margin: 10px;
        height: 100px;
    }
</style>
<div id="productImages">
    {% for image in files %}
        <img title="Двойной клик для удаления" class="productImage" src="{{ image }}">
    {% endfor %}
</div>
<h4>Дополнительные характристики</h4>
<button class="btn btn-info" id="addField">Добавить поле</button>
<table class="table table-bordered table-striped table-condensed table-hover">
    <thead>
    <tr>
        <th>Имя поля*</th>
        <th>Значение*</th>
        <th>Тип данных*</th>
        <th>Ед. измерения</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody id="fields">
    {% for field in fields %}
        <tr class="addFieldRow">
            <td>
                <input class="form-control field-name" value="{{ field.fieldName }}">
            </td>
            <td>
                <input class="form-control field-value" value="{{ field.fieldValue }}">
            </td>
            <td>
                {% if field.fieldDataType == 'string' %}
                    {% set type = 'Строка' %}
                {% elseif field.fieldDataType == 'int' %}
                    {% set type = 'Целое число' %}
                {% elseif field.fieldDataType == 'float' %}
                    {% set type = 'Число с точкой' %}
                {% else %}
                    {% set type = field.fieldDataType %}
                {% endif %}
                <input class="form-control field-dataType" value="{{ type }}" disabled>
            </td>
            <td>
                <input class="form-control field-item" value="{{ field.fieldItem }}">
            </td>
            <td>
                <i class="fa fa-trash removeField"></i>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<button class="btn btn-warning" id="saveProduct">Сохранить</button>