<h4>Категория: {{ categoryName }}</h4>
<table class="table" style="width: auto;">
    <tbody>
    <tr>
        <td>
            <a href="?page={{ page_minus }}">
                <i class="fa fa-arrow-circle-left"></i>
            </a>
        </td>
        <td>
            <h5>{{ page }}</h5>
        </td>
        <td>
            <a href="?page={{ page_plus }}">
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </td>
        <td>
            Перейти на страницу:
        </td>
        <td>
            <input style="border: 0; width: 30px;" id="userPageNum">
        </td>
        <td style="cursor: pointer;">
            <i class="fa fa-play-circle" id="goToPage"></i>
        </td>
        <td>
            <form method="get" action="/admin/product/search">
            Поиск товара<br>
                <input type="submit" class="btn btn-info" value="Искать">
        </td>
        <td>
                <textarea name="search" class="form-control" placeholder="Часть названия товара"></textarea>
            </form>
        </td>
        <td>
            <a href="#treeContentModal" rel="modal:open">Выбор общих категорий</a>
        </td>
    </tr>
    </tbody>
</table>
<table class="table table-striped table-bordered table-condensed table-hover" id="catalog_table">
    <thead>
    <tr>
        <th><input type="checkbox" id="check_all"></th>
        <th>
            <a href="?sort=name&order={{ anti_order }}">
                Наименование
            </a>
        </th>
        <th>Артикул</th>
        <th>
            <a href="?sort=price&order={{ anti_order }}">
                Цена
            </a>
        </th>
        <th>Просмотр</th>
    </tr>
    </thead>
    <tbody id="tb">
    {% for product in products %}
        <tr id="{{ product.goodId }}">
            <th>
                <input class="cb" type="checkbox">
            </th>
            <td>
                <a href="/admin/product/edit/{{ product.goodId }}">
                    {{product.name}}
                </a>
            </td>
            <td>
                {{ product.articul }}
            </td>
            <td>{{product.price|default('')}}</td>
            <td>
                <a href="/product/{{ product.goodId }}">
                    Смотреть
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>