<h5><a href="#treeContentModal" rel="modal:open">Выбор общих категорий</a></h5>
<table class="table table-striped table-bordered table-condensed table-hover" id="catalog_table">
    <thead>
    <tr>
        <th><input type="checkbox" id="check_all"></th>
        <th>
                Наименование
        </th>
        <th>Категория</th>
        <th>
                Цена
        </th>
    </tr>
    </thead>
    <tbody id="tb">
    {% for product in products %}
        <tr id="{{ product.goodId }}">
            <th>
                <input class="cb" type="checkbox">
            </th>
            <td>
                <a href="/admin/product/edit/{{ product.goodId }}">
                    {{product.name}}
                </a>
            </td>
            <td class="category"><a href="/admin/goodsByCategory/{{ product.categoryId }}">{{product.categoryName}}</a> </td>
            <td>{{product.price|default('')}}</td>
            <td>
                <a href="/product/{{ product.goodId }}">
                    Смотреть
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>