<div class="fullwidth">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#">Главная</a>
            <span>Личный кабинет</span>
        </div>
        <h1>Личный кабинет</h1>
        <div class="personal flex-col -wrap">
            <div class="personal__sidebar">
                <div class="personal__data">
                    <div class="personal__data__header -data-header-user">
                        Персональные данные
                    </div>
                    <div class="personal__data__content">
                        <table>
                            <tr>
                                <td><span>Фамилия, Имя: </span></td>
                                <td><input type="text" id="fio" value="{{ user_data.fio }}"></td>
                            </tr>
                            <tr>
                                <td><span>Email: </span></td>
                                <td><input type="text" id="email" value="{{ user_data.email }}"></td>
                            </tr>
                            <tr>
                                <td><span>Телефон: </span></td>
                                <td><input type="text" id="phone" value="{{ user_data.phone }}" disabled="disabled"></td>
                            </tr>
                            <tr>
                                <td><span>Город: </span></td>
                                <td><input type="text" id="city" value="{{ user_data.city }}"></td>
                            </tr>
                            <tr>
                                <td><span>Улица: </span></td>
                                <td><input type="text" id="street" value="{{ user_data.street }}"></td>
                            </tr>
                            <tr>
                                <td><span>Дом: </span></td>
                                <td><input type="text" id="house" value="{{ user_data.house }}"></td>
                            </tr>
                            <tr>
                                <td><span>Квартира: </span></td>
                                <td><input type="text" id="flat" value="{{ user_data.flat }}"></td>
                            </tr>
                        </table>

                        <a href="#" class="btn btn__grey -grey" id="logout_user">ВЫХОД</a>
                        <a href="#" class="btn btn__grey -grey" id="update_user">Изменить данные</a>
                    </div>
                </div>

{#
                <div class="personal__data">
                    <div class="personal__data__header -data-header-pass">
                        Смена пароля
                    </div>
                    <div class="personal__data__content">
                        <form action="#">
                            <input type="text" placeholder="Новый пароль">
                            <input type="text" placeholder="Повторите пароль">
                        </form>

                        <a href="#" class="btn btn__grey -grey">Изменить данные</a>
                    </div>
                </div>
#}
            </div>
            <div class="content">
                <div class="personal__story__header">
                    История заказов
                </div>

                <div class="personal__story">
                    {% for order in out %}
                    <div class="personal__story__item">
                        <div class="personal__story__head flex-col -wrap">
                            <div>
                                № заказа:
                                <span>{{order.orderId}}</span>
                            </div>
                            <div>
                                Дата:
                                <span>{{order.time_stamp|date('Y/m/d H:i')}}</span>
                            </div>
                            <div>
                                Сумма:
                                <span>{{order.whole_price}} руб.</span>
                            </div>
                            <div class="personal-opener-hidder">
                                Детали заказа
                            </div>
                        </div>
                        <div class="hider">
                            {% for product in order.products %}
                            <div class="hider-row flex-col -wrap">
                                <div class="flex-col">
                                    <a href="/product/{{ product.goodId }}">{{ product.name }}</a>
                                </div>
                                <div>
                                    Цена:
                                    <span>{{ product.price }} руб.</span>
                                </div>
                                <div>Количество:
                                    <span> {{ product.product_count }}шт.</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="footer-catalog-list flex-col">
                    <div class="catalog-list__summ">
                        Всего: <span>124</span>
                    </div>
{#
                    <div class="pagination flex-col">
                        <a href="#" class="page-prev"></a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#" class="page-next"></a>
                    </div>
#}
                </div>
            </div>
        </div>
    </div>
</div>
