<div class="about-index">
    <div class="container with-sidebar">
        <div class="sidebar-content">
            <div class="title-flex-block">
                <div class="title">Наша <span>компания</span></div>
                <a class="read-more" href="#">Подробнее</a>
            </div>
            <div class="text-content">
                <h2>Мы являемся официальными диллерами компании «Дакар»</h2>
                <p>Представленные в нашем каталоге обтекатели производства компании "Дакар" выполненны из
                    армированного стеклопластика. Вы получаете качественные обтекатели, которые не развалятся
                    после года использования. </p>
                <p>Только у нас удобная запатентованная и сертифицированная система креплений, а все остальное
                    плагиат. </p>
                <p>При необходимости мы можем смонтировать выбранный Вами спойлер на Ваш автомобиль, а также
                    осуществим сервисное обслуживание изготовленных и установленных нами изделий. На все изделия
                    предоставляется гарантия.</p>
            </div>
            <div class="about-index__cj">
                <div class="about-index__items">
                    <div class="about-index__nom">
                        6 <span>т.</span>
                    </div>
                    <div class="about-index__text">
                        Довольных
                        покупателей
                    </div>
                </div>
                <div class="about-index__items">
                    <div class="about-index__nom">
                        80
                    </div>
                    <div class="about-index__text">
                        Видов
                        обтекателей
                    </div>
                </div>
                <div class="about-index__items">
                    <div class="about-index__nom">
                        20
                    </div>
                    <div class="about-index__text">
                        Лет работы
                        на рынке
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="your-benefit">
                <div class="yb__head">
                    <h2>Ваша выгода</h2>
                    <p>Крупным клиентам мы рады предоставить более выгодные условия</p>
                </div>
                <div class="yb-content">
                    <h2>Обсудить условия</h2>
                    <form action="" id="index-feedback">
                        <input type="text" name="name" required placeholder="Ваше имя  *">
                        <input type="text" name="phone" required placeholder="Ваш номер *">

                        <label class="checkbox-label active" for="rules2dfgv">
                            <input required="" id="rules2dfgv" checked="" type="checkbox">
                            <span>Даю своё согласие на обработку моих персональных данных.</span>
                        </label>

                        <button type="submit" id="form-submit">Отправить2</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
