<div class="our-brands-index">
    <div class="container">
        <div class="title-flex-block">
            <div class="title">Наши <span>бренды</span></div>
            <a class="read-more" href="#">Все партнеры</a>
        </div>
        <div class="our-brands__list">
            <div class="out-brands__item">
                <a href="#">
                    <img src="img/brand-1.jpg" alt="">
                </a>
            </div>
            <div class="out-brands__item">
                <a href="#">
                    <img src="img/brand-1.jpg" alt="">
                </a>
            </div>
            <div class="out-brands__item">
                <a href="#">
                    <img src="img/brand-1.jpg" alt="">
                </a>
            </div>
            <div class="out-brands__item">
                <a href="#">
                    <img src="img/brand-1.jpg" alt="">
                </a>
            </div>
            <div class="out-brands__item">
                <a href="#">
                    <img src="img/brand-1.jpg" alt="">
                </a>
            </div>
            <div class="out-brands__item">
                <a href="#">
                    <img src="img/brand-1.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
