<div class="container">
    <div class="banner-help">
        <div class="banner-help__black">
            <div class="banner-help__text">
                Если вам нужна <span>помощь специалиста</span>
                или информация по заказу, то вы
                можете позвонить по номеру:
            </div>
            <div class="banner-help__phone">+7 (8412) 39-61-02</div>
        </div>
    </div>
</div>
