<div class="bsi">
    <div class="container">
        <div class="title-flex-block">
            <div class="title"><span>Лидеры</span> продаж</div>
            <a class="read-more" href="#">Все рекомендации</a>
        </div>
        <div class="bsi__content">
            <div class="slider bsi-slider">
                <div>
                    <div class="bsi_item">
                        <a href="#" class="bsi-favorite"></a>
                        <div class="bsi__img"><img src="img/products/1.jpg" alt=""></div>
                        <div class="bsi__title">Обтекатель «FORD Transit» 2.3 м.</div>
                        <div class="bsi__param">
                            <p><span>Модель:</span> <span>FORD transit</span></p>
                            <p><span>Тип:</span> <span>Стандарт</span></p>
                            <p><span>Размер:</span> <span>2.3 м</span></p>
                            <p><span>Цвет:</span> <span>Белый</span></p>
                            <div class="bsi__hover">
                                <a href="#" class="bsi__buy-button">Заказать</a>
                                <a href="#" class="bsi__buy-button">Купить</a>
                            </div>
                        </div>
                        <div class="bsi__price">7 390 <span>руб.</span></div>
                        <div class="mobile-bsi">
                            <a href="#" class="bsi__buy-button">Заказать</a>
                            <a href="#" class="bsi__add-card"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="bsi_item">
                        <a href="#" class="bsi-favorite"></a>
                        <div class="bsi__img"><img src="img/products/1.jpg" alt=""></div>
                        <div class="bsi__title">Обтекатель «FORD Transit» 2.3 м.</div>
                        <div class="bsi__param">
                            <p><span>Модель:</span> <span>FORD transit</span></p>
                            <p><span>Тип:</span> <span>Стандарт</span></p>
                            <p><span>Размер:</span> <span>2.3 м</span></p>
                            <p><span>Цвет:</span> <span>Белый</span></p>
                            <div class="bsi__hover">
                                <a href="#" class="bsi__buy-button">Заказать</a>
                                <a href="#" class="bsi__buy-button">Купить</a>
                            </div>
                        </div>
                        <div class="bsi__price">7 390 <span>руб.</span></div>
                        <div class="mobile-bsi">
                            <a href="#" class="bsi__buy-button">Заказать</a>
                            <a href="#" class="bsi__add-card"></a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="bsi_item">
                        <a href="#" class="bsi-favorite"></a>
                        <div class="bsi__img"><img src="img/products/1.jpg" alt=""></div>
                        <div class="bsi__title">Обтекатель «FORD Transit» 2.3 м.</div>
                        <div class="bsi__param">
                            <p><span>Модель:</span> <span>FORD transit</span></p>
                            <p><span>Тип:</span> <span>Стандарт</span></p>
                            <p><span>Размер:</span> <span>2.3 м</span></p>
                            <p><span>Цвет:</span> <span>Белый</span></p>
                            <div class="bsi__hover">
                                <a href="#" class="bsi__buy-button">Заказать</a>
                                <a href="#" class="bsi__buy-button">Купить</a>
                            </div>
                        </div>
                        <div class="bsi__price">7 390 <span>руб.</span></div>
                        <div class="mobile-bsi">
                            <a href="#" class="bsi__buy-button">Заказать</a>
                            <a href="#" class="bsi__add-card"></a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="bsi_item">
                        <a href="#" class="bsi-favorite"></a>
                        <div class="bsi__img"><img src="img/products/1.jpg" alt=""></div>
                        <div class="bsi__title">Обтекатель «FORD Transit» 2.3 м.</div>
                        <div class="bsi__param">
                            <p><span>Модель:</span> <span>FORD transit</span></p>
                            <p><span>Тип:</span> <span>Стандарт</span></p>
                            <p><span>Размер:</span> <span>2.3 м</span></p>
                            <p><span>Цвет:</span> <span>Белый</span></p>
                            <div class="bsi__hover">
                                <a href="#" class="bsi__buy-button">Заказать</a>
                                <a href="#" class="bsi__buy-button">Купить</a>
                            </div>
                        </div>
                        <div class="bsi__price">7 390 <span>руб.</span></div>
                        <div class="mobile-bsi">
                            <a href="#" class="bsi__buy-button">Заказать</a>
                            <a href="#" class="bsi__add-card"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
