<div class="products-block">
    <div class="container">
        <div class="title-flex-block">
            <div class="title">Наша <span>продукция</span></div>
            <a class="read-more" href="#">Смотреть все</a>
        </div>
        <div class="products-grid">
            {% for category in categories_level_0 %}
                <a href="/category/{{category.categoryId}}">
                    <span><img src="/upload/category/{{category.categoryFileName}}" alt=""></span>
                    <div>{{category.categoryName}}</div>
                </a>
            {% endfor %}
{#
            <a href="#">
                <span><img src="/img/products/1.jpg" alt=""></span>
                <div>Обтекатели <br>для грузового авто</div>
            </a>
            <a href="#">
                <span><img src="/img/products/2.jpg" alt=""></span>
                <div>Кузовные элементы</div>
            </a>
            <a href="#">
                <span><img src="/img/products/3.jpg" alt=""></span>
                <div>Светотехника и зеркала</div>
            </a>
            <a href="#">
                <span><img src="/img/products/4.jpg" alt=""></span>
                <div>Пневмоподушки и амортизаторы</div>
            </a>
            <a href="#">
                <span><img src="/img/products/5.jpg" alt=""></span>
                <div>Фурнитура для сдвижных крыш</div>
            </a>
            <a href="#">
                <span><img src="/img/products/6.jpg" alt=""></span>
                <div>Крылья и ящики для инструмента</div>
            </a>
            <a href="#">
                <span><img src="/img/products/7.jpg" alt=""></span>
                <div>Расходные материалы</div>
            </a>
            <a href="#">
                <span><img src="/img/products/8.jpg" alt=""></span>
                <div>Автоаксессуары и подарки</div>
            </a>
#}
        </div>
    </div>
</div>
