<div class="index-slider">
    <section class="regular slider">
        {% for slider in sliders %}
            <div>
                <div class="index-slider__item"
                     style="background: url(/upload/slider/{{slider.fileName}}) no-repeat center; background-size: cover;">
                    <div class="container">
                        <div class="index-slider__content">
                            <div class="index-slider__d">{{ slider.header1 }}</div>
                            <div class="index-slider__title">{{ slider.header2 }}</div>
                            <a href="{{ slider.link }}">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</div>