<div class="why-we">
    <div class="container">
        <div class="title">Почему <span>именно мы?</span></div>
        <div class="why-we-col">
            <div class="why-we__item">
                <div class="why-we__img"><img src="/img/icon-storag.png" alt=""></div>
                <div class="why-we__title">Наличие на складе</div>
                <p>Большие склады и огромный выбор, позволяет на месте подобрать нужный обтекатель.</p>
            </div>
        </div>
        <div class="why-we-col">
            <div class="why-we__item">
                <div class="why-we__img"><img src="/img/icon-worker.png" alt=""></div>
                <div class="why-we__title">Установка деталей</div>
                <p>Наш опыт играет важную роль в качестве установки с максимальным прилеганием.</p>
            </div>
        </div>
        <div class="why-we-col">
            <div class="why-we__item">
                <div class="why-we__img"><img src="/img/icon-map.png" alt=""></div>
                <div class="why-we__title">Прямая достуность</div>
                <p>Мы находимся на трассе М5, 631 км. Это позволит Вам не съезжать с трассы.</p>
            </div>
        </div>
    </div>
</div>
