<div class="fullwidth">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#">Главная</a>
            <span>Каталог</span>
        </div>
        <div class="sidebar-with flex-col">
            <div class="sidebar">
{#
                <div class="sidebar-search">
                    <div class="sidebar-search__title">Поиск<br> по каталогу</div>
                    <div class="search">
                        <form action="/find">
                            <input type="search" name="search" placeholder="Введите код или название товара">
                            <input type="submit" value="">
                        </form>
                    </div>
                </div>
#}
                <div class="sidebar-catalog">
                    <div class="sidebar-catalog__title">Каталог товаров</div>
                    {{ categoryTree|raw}}
                </div>
                <div class="sidebar-banner">
                    <a href="#"><img src="/img/sidebar-banner.png" alt=""></a>
                </div>
            </div>
            <div class="content">
                {{ content|raw }}
            </div>
        </div>
    </div>
</div>