    <div class="map">
        <div id="map"></div>
        <div class="map__content">
            <div class="title">Наши <span>контакты</span></div>
            <div class="map__content-col"><span class="icon-phone"></span> <a href="tel:88412396102">8 (8412)
                    39-61-02</a></div>
            <div class="map__content-col"><span class="icon-mail"></span> <a
                        href="mailto:dakarplus@yandex.ru">dakarplus@yandex.ru</a></div>
            <div class="map__content-col"><span class="icon-flag"></span>
                <div>г. Пенза, 631 км. трассы М5, м-н "Обтекатель"</div>
            </div>
        </div>
    </div>

</div><!-- wrapper -->

<footer>
    <div class="footer">
        <div class="container">
            <div class="logo-footer"><img src="/img/logo-white.png" alt=""></div>

            <div class="contact__content">
                <div class="title">Наши <span>контакты</span></div>
                <div class="contact__content-col"><span class="icon-phone"></span> <a href="tel:88412396102">8
                        (8412) 39-61-02</a></div>
                <div class="contact__content-col"><span class="icon-mail"></span> <a
                            href="mailto:dakarplus@yandex.ru">dakarplus@yandex.ru</a></div>
                <div class="contact__content-col"><span class="icon-flag"></span>
                    <div>г. Пенза, 631 км. трассы М5, м-н "Обтекатель"</div>
                </div>
            </div>

            <div class="footer-col">
                <p class="fz10">Индивидуальный предприниматель:</p>
                <p class="ip">Салманов Александр Анатольевич</p>
            </div>
            <div class="footer-col inn-ogrn">
                <p><span>ИНН</span> 583700020940</p>
                <p><span>ОГРН</span> 304583528600252</p>
            </div>
            <a class="footer-call-back" data-remodal-target="footer-call-back"  href="#">Заказать звонок</a>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <p>© 2017 - 2019 obtekatel58.ru, Все права защищены</p>
            <a href="#" class="politic">Политика конфиденциальности</a>
        </div>
    </div>
</footer>

<div class="remodal" data-remodal-id="footer-call-back"
     data-remodal-options="hashTracking: false, closeOnOutsideClick: true">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="container-modal">
        <form action="#">
            <div class="modal-form-header">
                Отправьте заявку и наш специалист вам перезвонит
            </div>
            <input type="text" name="name" required placeholder="Ваше имя">
            <input type="text" name="phone" required placeholder="Ваш телефон">
            <input type="submit" value="Заказать звонок">
        </form>
    </div>
</div>
</body>
{#
    <script src="/js/jquery.maskedinput.js"></script>
    <script src="/js/remodal.min.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/scripts.js"></script>
#}

{#
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/lightbox-plus-jquery.min.js"></script>
#}
    <script src="/js/jquery.maskedinput.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/js/remodal.min.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.ez-plus.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="/js/scripts.js"></script>
    {% for js in scripts|default([]) %}
        <script src="{{ js }}"></script>
    {% endfor %}

</html>