<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Обтекатели главная</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/fonts/stylesheet.css">
    <link rel="stylesheet" href="/css/remodal-default-theme.css">
    <link rel="stylesheet" href="/css/remodal.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="/css/jquery.modal.min.css">
    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>

<body>
<div class="wrapper">
    <div class="card-mobile">
        <div class="card-mobile__title">Корзина товаров</div>
        <div class="card-mobile__summ_text flex-col">
            <div class="card-mobile-summ-items">Ваша корзина пуста</div>
        </div>
        <div class="card-mobile__closer"></div>
    </div>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="header-top__left-text">Официальный диллер компании «Дакар»</div>
                <div class="header-top__right">
                    <div class="enter-block">
{#
                        <div class="enter-block__link"><a href="#login1" rel="modal:open">Вход</a></div>
                        <span class="enter-block__span">{{ user }}</span>
                        <div class="enter-block__link"><a href="#">Регистрация</a></div>
#}
                        {{ left_corner|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div id="login1" class="modal">
            <h3>Отправка СМС авторизации</h3>
            <table border="0">
                <tbody>
                <tr>
                    <td><input type="search" class="form-control" id="phone_login" placeholder="Номер телефона"></td>
                    <td><input type="submit" value="Отправить код по СМС и email" id="phone_login_submit"></td>
                </tr>
                <tr>
                    <td><input type="search" class="form-control" id="phone_value" placeholder="Число из СМС"></td>
                    <td><input type="submit" value="Подтвердить" id="phone_login_check"></td>
                </tr>
                </tbody>
            </table>
            <h4>Если Вы долго не получаете СМС, проверьте почту</h4>

        </div>
        <div class="header">
            <div class="container">
                <div class="header__logo"><a href="/"><img src="/img/logo.png" alt=""></a>
                    <div class="mobile-head-contact">
                        <a class="mobile-head-contact__phone" href="tel:88412396102">8 (8412) 39-61-02</a>
                        <a class="mobile-head-contact__mail"
                           href="mailto:dakarplus@yandex.ru">dakarplus@yandex.ru</a>
                    </div>
                </div>
                <div class="header__col">
                    <div class="header__phone">
                        <span>Телефон:</span>
                        <a href="tel:88412396102">8 (8412) 39-61-02</a>
                    </div>
                </div>
                <div class="header__col">
                    <div class="header__mail">
                        <span>Имейл:</span>
                        <a href="mailto:dakarplus@yandex.ru">dakarplus@yandex.ru</a>
                    </div>
                </div>
                <div class="header__col">
                    <div class="card">
                        <a href="/card">
                            <div class="card__icon"></div>
                            <div class="card__text" id="card__text">Ваша корзина пуста</div>
                        </a>
                    </div>
                </div>

                <div class="mobile-catalog-menu">
                    <div class="mobile-catalog-toggle">Каталог товаров</div>
                    <ul>
                        <li class="">
                            <a href="#">Обтекатели на крышу</a>
                            <ul class="dropdown__sidebar lvl_1">
                                <li><a href="#">Газель</a></li>
                                <li><a href="#">Иж</a></li>
                                <li><a href="#">Газель</a></li>
                                <li><a href="#">Foton</a></li>
                                <li><a href="#">Камаз</a></li>
                                <li><a href="#">Зил</a></li>
                                <li><a href="#">Газ</a></li>
                                <li><a href="#">Hyundai</a></li>
                                <li><a href="#">Faw</a></li>
                                <li><a href="#">Baw</a></li>
                                <li><a href="#">Lada</a></li>
                                <li><a href="#">Тата</a></li>
                                <li><a href="#">Jmc</a></li>
                                <li><a href="#">Nissan</a></li>
                                <li><a href="#">Ford</a></li>
                                <li><a href="#">Mitsubishi</a></li>
                                <li><a href="#">Hino</a></li>
                                <li><a href="#">Isuzu</a></li>
                                <li><a href="#">Fiat, Citroen, Peugeot</a></li>
                                <li><a href="#">Volkswagen</a></li>
                                <li><a href="#">Маз</a></li>
                                <li><a href="#">Kia</a></li>
                                <li><a href="#">Iveco</a></li>
                                <li><a href="#">УАЗ</a></li>
                                <li><a href="#">JAC</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Кузовные детали</a></li>
                        <li><a href="#">Светотехника, зеркала</a></li>
                        <li><a href="#">Пневмоподушка, амортизаторы</a></li>
                        <li><a href="#">Автоаксессуары и подарки</a></li>
                        <li><a href="#">Фурнитура сдвежных крыш</a></li>
                        <li><a href="#">Расходные материалы</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <div class="items">
                <div class="item">
                    <button class="cmn-toggle-switch cmn-toggle-switch__htx">
                        <span>Меню</span>
                    </button>
                </div>
            </div>
            <ul class="top-menu">
                <li><a class="{{menu.index|default('')}}" href="/">Главная</a></li>
                <li><a href="/about" class="{{menu.about|default('')}}">О нас</a></li>
                <li class="no-mobile"><a href="/catalog" class="{{menu.catalog|default('')}}">Каталог</a>
                    <ul class="dropdown">
                        {% for category in categories_level_0 %}
                            <li><a href="/category/{{ category.categoryId }}">{{category.categoryName}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#" class="{{menu.proizvodstvo|default('')}}">Производство</a></li>
                <li><a href="#" class="{{menu.dostavka|default('')}}">Доставка</a></li>
                <li><a href="#" class="{{menu.oplata|default('')}}">Оплата </a></li>
                <li><a href="/contacts" class="{{menu.contacts|default('')}}">Контакты</a></li>
            </ul>
            <div class="search">
                <form action="/find">
                    <input type="search" name="search" placeholder="Введите код или название товара">
                    <input type="submit" value="">
                </form>
            </div>
        </div>
    </nav>

