<h5><a href="/admin/page/add">Добавить страницу</a> </h5>
<table class="table table-bordered table-condensed table-striped" style="width: auto">
    <thead>
    <tr>
        <td>Редактировать</td>
        <td>Удалить</td>
    </tr>
    </thead>
    <tbody>
    {% for slug in slugs %}
        <tr>
            <td><a href="/admin/page/edit/{{ slug }}">{{ slug }}</a></td>
            <td><a class="remove_page" href="/admin/page/remove/{{ slug }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
        </tr>

    {% endfor %}
    </tbody>
</table>